@model DataLayer.Models.Dto.DtoTblProduct
@{
    ViewBag.Title = "ProductView";
}

<section class="modal-product row uk-padding mat">
    <!-- #region Image -->
    <aside class="image column uk-padding uk-width-2-5">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

            <ul class="uk-slideshow-items">
                <li>
                    <img src="https://picsum.photos/600/400" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://picsum.photos/600/400" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://picsum.photos/600/400" alt="" uk-cover>
                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        </div>

        <ul class="uk-thumbnav" uk-margin>
            <li class="uk-active"><a href="#"><img src="https://picsum.photos/600/400" width="100" alt=""></a></li>
            <li><a href="#"><img src="https://picsum.photos/600/400" width="100" alt=""></a></li>
            <li><a href="#"><img src="https://picsum.photos/600/400" width="100" alt=""></a></li>
        </ul>
    </aside>
    <!-- #endregion -->
    <!-- #region Content -->

    <article class="column uk-width-3-5">
        <h2>
            Vel sapien elit in malesuada semper mi, id sollicitudin.
        </h2>
        <a href="">دسته بندی</a>
        <label>#1365</label>
        <div class="row">
            <h2>
                160,000
            </h2>
            <span>
                تومان
            </span>
        </div>

        <div class="row star-container" dir="rtl">
            <div class="Stars" style="--rating: 2.6;" aria-label="Rating of this product is 2.3 out of 5."></div>
            <label class="uk-margin-small-right">2.6</label>
        </div>

        <hr />

        <label>توضیحات</label>
        <p>
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </p>
        <details>
            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
        </details>

        <ul class="uk-flex uk-flex-wrap">
            <li>
                <a href="" class="keyword">
                    Dolor sit.
                </a>
            </li>
            <li>
                <a href="">
                    Sit amet, consectetur.
                </a>
            </li>
            <li>
                <a href="">
                    Ipsum.
                </a>
            </li>
            <li>
                <a href="">
                    Amet, consectetur adipiscing elit.
                </a>
            </li>
        </ul>

        <table class="uk-table uk-padding-remove" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        مشخصات
                    </th>
                    <th>
                        توضیحات
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        باتری
                    </td>
                    <td>
                        1.6
                    </td>
                </tr>
                <tr>
                    <td>
                        باتری
                    </td>
                    <td>
                        1.6
                    </td>
                </tr>
                <tr>
                    <td>
                        باتری
                    </td>
                    <td>
                        1.6
                    </td>
                </tr>
                <tr>
                    <td>
                        باتری
                    </td>
                    <td>
                        1.6
                    </td>
                </tr>
                <tr>
                    <td>
                        باتری
                    </td>
                    <td>
                        1.6
                    </td>
                </tr>
            </tbody>
        </table>

    </article>

    <!-- #endregion -->
</section>