@model DataLayer.Models.Regular.TblVideo
<div id="ModalUpload" uk-modal>
    <div class="uk-modal-dialog uk-modal-body full-width">
        <h2 class="uk-modal-title">آپلود ویدیوی جدید</h2>
        <form action="/Tuotor/Profile/UploadVideo" method="post" enctype="multipart/form-data" class="column">
            <h4 class="uk-margin-remove-bottom">
                ویدیو جدید
            </h4>
            <label for="Title" class="uk-margin-small-bottom uk-margin-top">
                دسته ویدیو
            </label>
            @Html.DropDownListFor(model => model.CatagoryId, (IEnumerable<SelectListItem>)ViewBag.CatagoryId, "دسته ویدیو را انتخاب کنید", new { @class = "uk-select uk-input uk-width-2-3 uk-margin-auto-left", required = "required" })

            <label for="Title" class="uk-margin-small-bottom uk-margin-top">
                تیتر ویدیو
            </label>
            <input type="text" id="Title" name="Title" class="uk-input uk-width-2-3 @("uk-width-1-3@m")  uk-margin-auto-left" required />
            <label for="Description" class="uk-margin-small-bottom uk-margin-top">
                توضیحات
            </label>
            <textarea id="Description" name="Description" required></textarea>


            <!-- #region Upload Video -->
            <label class="uk-margin-small-bottom uk-margin-top">
                ویدیو
            </label>
            <div class=" uk-placeholder uk-margin-remove-top uk-text-center" dir="rtl">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle"> ویدیوی خود را اینجا بیاندازید و یا</span>
                <div uk-form-custom>
                    <input type="file" name="VideoUrl" multiple required>
                    <span class="uk-link">انتخاب کتید</span>
                </div>
            </div>

            <!-- #endregion -->
            <!-- #region Upload Image -->
            <label class="uk-margin-small-bottom uk-margin-top">
                عکس
            </label>
            <div class="uk-placeholder uk-margin-remove-top uk-text-center" dir="rtl">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle"> عکس خود را اینجا بیاندازید و یا</span>
                <div uk-form-custom>
                    <input type="file" name="MainImage" multiple required>
                    <span class="uk-link">انتخاب کتید</span>
                </div>
            </div>



            <h5 class="uk-margin-remove-bottom">
                بخش دمو
            </h5>
            <hr />

            <!-- #region Upload Video -->
            <label class="uk-margin-small-bottom uk-margin-top">
                ویدیوئ دمو
            </label>
            <div class=" uk-placeholder uk-margin-remove-top uk-text-center" dir="rtl">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle"> ویدیوی خود را اینجا بیاندازید و یا</span>
                <div uk-form-custom>
                    <input type="file" name="VidioDemoUrl" multiple required>
                    <span class="uk-link">انتخاب کتید</span>
                </div>
            </div>
            <!-- #endregion -->

            <label for="Description" class="uk-margin-small-bottom uk-margin-top">
                توضیحات دمو
            </label>
            <textarea id="Description" name="DescriptionDemo" required></textarea>

            <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
            <div class="row uk-margin-medium-top" dir="rtl">
                <button type="submit" class="see">آپلود</button>
                <a class="uk-button uk-button-default uk-margin-auto-bottom uk-margin-auto-left uk-margin-right "
                   onclick="UIkit.modal(document.getElementById('ModalUpload')).hide();">بازگشت</a>
            </div>
        </form>
    </div>
</div>
