

@{
    ViewBag.Title = "گروه ها";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="listGroup">
    @Html.Action("ListGroups")
</div>

<!-- Modal -->
<!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">


        @*<h2 class="uk-modal-title">Headline</h2>*@
        @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-primary" type="button">Save</button>
            </p>*@
    </div>
</div>

<!-- #endregion -->
<!-- #endregion -->



@section Scripts{
    <script src="~/Scripts/Jquery/jquery.validate.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.unobtrusive-ajax.min.js"></script>

    <script>



        function Create(catagoryId) {
            $.get("/Admin/ProductCatagory/Create/" + catagoryId,
                function (result) {
                    UIkit.modal(document.getElementById('modal-example')).show();
                    $(".uk-modal-body").html(result);
                });
        }

        function Edit(id) {
            $.get("/Admin/ProductCatagory/Edit/" + id,
                function (result) {
                    UIkit.modal(document.getElementById('modal-example')).show();
                    $(".uk-modal-body").html(result);
                });
        }

        function Delete(id) {
            if (confirm("آیا از حذف مطمئن هستید ؟")) {
                $.get("/Admin/ProductCatagory/Delete/" + id,
                    function (result) {
                        if (result.success) {
                            $("#group_" + id).hide('slow');
                            alert(result.responseText);
                        } else {
                            alert(result.responseText);
                        }
                    });
            }
        }
    </script>



}




