

@{
    ViewBag.Title = "گروه ها";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="listGroup">
    @Html.Action("ListGroups")
</div>

<!-- Modal -->
<!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">


    </div>
</div>

<!-- #endregion -->
<!-- #endregion -->



@section Scripts{
    <script src="~/Scripts/Jquery/jquery.validate.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.unobtrusive-ajax.min.js"></script>

    <script>



        function Create(catagoryId) {
            $.get("/Admin/ProductCatagory/Create/" + catagoryId,
                function (result) {
                    UIkit.modal(document.getElementById('modal-example')).show();
                    $(".uk-modal-body").html(result);
                });
        }

        function Edit(id) {
            $.get("/Admin/ProductCatagory/Edit/" + id,
                function (result) {
                    UIkit.modal(document.getElementById('modal-example')).show();
                    $(".uk-modal-body").html(result);
                });
        }

        function Delete(id) {
            if (confirm("آیا از حذف مطمئن هستید ؟")) {
                $.get("/Admin/ProductCatagory/Delete/" + id,
                    function (result) {
                        if (result.success) {
                            $("#group_" + id).hide('slow');
                            alert(result.responseText);
                        } else {
                            alert(result.responseText);
                        }
                    });
            }
        }

        function success() {

            UIkit.modal(document.getElementById('modal-example')).hide();
        }
    </script>



}




