@model DataLayer.Models.Regular.TblBlog

<!-- #region Blog -->

<div class="column card blog uk-padding-remove ">
    <img src="~/Resources/Blogs/@Model.MainImage" class="uk-flex-1" alt="" />
    <content class="uk-padding-small uk-padding-remove-top uk-flex-1">
        <h4 class="uk-margin-remove">@Model.Title</h4>
        <p class="uk-margin-remove-bottom uk-margin-small-top">
            و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در راهکارها، و شرایط سخت تایپ به پایان رسد
        </p>
        <a class="uk-margin-auto-top" href="/BlogView/@Model.id/@Model.Title.Replace(" ","-")">...بیشتر</a>
    </content>
</div>

<!-- #endregion -->