 <!-- #region Blog -->

<div class="column card blog uk-padding-remove ">
    <img src="https://picsum.photos/342/264" class="uk-flex-1" alt="" />
    <content class="uk-padding uk-padding-remove-top uk-flex-1">
        <h3 ">مربی 3</h3>
        <p class="uk-margin-remove-bottom uk-margin-small-top">
            و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در راهکارها، و شرایط سخت تایپ به پایان رسد
        </p>
        <a class="uk-margin-auto-top" href="#">...بیشتر</a>
    </content>
</div>

<!-- #endregion -->