@model DataLayer.Models.Regular.TblBlog
<!-- #region Blog -->
<div class="column card blog uk-padding-remove ">
    <img src="~/Resources/Blogs/@Model.MainImage" class="uk-flex-1" alt="" />
    <content class="uk-padding uk-padding-remove-top uk-flex-1">
        <h3>@Model.Title</h3>

        <a class="uk-margin-auto-top" href="/BlogView/@Model.id/@Model.Description">...بیشتر</a>
    </content>
</div>

<!-- #endregion -->