@if (User.Identity.IsAuthenticated)
{
    <a class="nav-profile" href="/User/Profile/Index">
        پروفایل
    </a>
}
else
{
    <a class="nav-profile" href="#" uk-toggle="target: #ModalLogin" type="button">
        ورود
    </a>
}