@model DataLayer.Models.Regular.TblVideo


<!-- #region Video -->
<div class="video column video_@(Model.id)" dir="rtl" >
    <div class="vid column">
        <img class="thumbnail" src="~/Resources/Videos/Image/@Model.MainImage" alt="" />
        <a href="/VideoView/@Model.id/@Model.Title.Replace(" ","-")" class="uk-icon" uk-icon="icon: play; ratio:4"></a>
    </div>
    <div class="uk-margin-small-top row">
        <div class="tutor uk-margin-remove-top row">
            @foreach (var j in Model.TblTuotorVideoRel)
            {
                <a href="/VideoView/@j.id/@Model.Title.Replace(" ","-")">
                    <img class="profile-img uk-border-circle" src="~/Resources/Tutor/Thumb/@j.TblTutor.MainImage" />
                </a>
            }

        </div>
        <div class="title column uk-margin-auto-left uk-margin-small-right uk-margin-remove-top">
            <a href="/VideoView/@Model.id/@Model.Title.Replace(" ","-")">
                <h5 class="uk-margin-auto-left">
                    @Model.Title
                </h5>
            </a>
            <div class="row">
                <a href="#" class="tutor-link uk-margin-auto-left">
                    @foreach (var j in Model.TblTuotorVideoRel)
                    {
                        @j.TblTutor.Name
                    }
                </a>
                <span class="row">
                    <span>@Model.ViewCount</span>
                    <span uk-icon="icon: play"></span>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- #endregion -->