@model IEnumerable<DataLayer.Models.Regular.TblComment>

@foreach (var item in Model)
{
    <article class="uk-comment">
        <header class="row uk-margin-small-bottom ">
            <span class="uk-margin-auto-right" dir="rtl">
               @Convert.ToDateTime(item.DateSubmited).ToShamsi()
            </span>
            <h4 class="uk-comment-title uk-margin-remove">
                @item.TblClient.Name
            </h4>
        </header>
        <div class="uk-comment-body">
            <p>
                @item.Body
            </p>
        </div>
    </article>
}
