@model DataLayer.Models.Dto.DtoTblVideo

@{
    ViewBag.Title = "VideoView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Project Css -->
<link href="~/Styles/Video.min.css" rel="stylesheet" />
<div class="space-nav-bottom"></div>

<div class="main">

    <!-- #region Aside -->

    <aside class="column">

        <h4 class="uk-margin-remove-bottom">
            پیشنهادات
        </h4>
        <hr />
        @Html.Action("VideoRecommendations", "HomeVideo")


    </aside>

    <!-- #endregion -->

    <content class="column">

        <!--<img class="video-playback" src="https://picsum.photos/800/400" />-->
        <video class="video-playback" controls controlsList="nodownload">
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
            مرورگر شما پخش ویدیو را پشتیبانی نمی کند.
        </video>
        <h4 class="video-title">
            تیتر ویدیو اینجا قرار می گیرد
            تیتر ویدیو اینجا قرار می گیرد
            تیتر ویدیو اینجا قرار می گیرد
            تیتر ویدیو اینجا قرار می گیرد
        </h4>
        <div class="profile-media-container">
            <section class="media row uk-padding-small">
                <label class="view-count" uk-tooltip="تعداد بازدید">
                    <span>1228</span>
                </label>
                <a uk-icon="link" uk-tooltip="اشتراک گذاری"></a>
                <!--<a class="uk-animation-slide-top-small" uk-tooltip="title:لایک" uk-icon="heart"></a>-->
                <div class="row star-container uk-margin-small-left" uk-tooltip="2.6" dir="rtl">
                    <div class="Stars" style="--rating: 2.6;" aria-label="Rating of this product is 2.3 out of 5."></div>
                </div>
            </section>
            <a href="" class="tutor row uk-margin-auto-left">
                <div class="column uk-margin-auto-top uk-margin-auto-bottom">
                    <h6>نام و نام خانوادگی</h6>
                    <p>تخصص ورزشی</p>
                </div>
                <img class="tutor-img uk-margin-small-left" src="https://picsum.photos/64" />
            </a>
        </div>
        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
        </p>

        <hr />


        <!--Comment Section-->
        <div class="row uk-margin-small-bottom">
            <h4 class="uk-margin-auto-left uk-margin-remove-top
                    uk-margin-remove-bottom ">
                نظرات
            </h4>
            <a onclick="HideElementsByIds(['comments','makeComment'])"
               class="rotary-chevron uk-margin-auto-top"
               id="btnHideCommentSection"
               uk-icon="icon:chevron-down;ratio:1.5"></a>
        </div>


        <section id="makeComment" class="make-comment uk-margin-bottom">
            <div class="mat column">
                <div class="column">
                    <textarea class="textbox-bulk-txt" type="text" placeholder="..."></textarea>
                </div>
                <div class="row uk-margin-top">
                    <div class="row star-container">
                        <span class="star-cb-group">
                            <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
                            <input type="radio" id="rating-4" name="rating" value="4" checked="checked" /><label for="rating-4">4</label>
                            <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
                            <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
                            <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
                            <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                        </span>
                    </div>
                    <button class="uk-margin-auto-left">
                        ثبت
                    </button>
                </div>
            </div>
        </section>

        <section id="comments" class="comments">
            <!-- #region Comment -->
            <article class="uk-comment">
                <header class="row uk-margin-small-bottom ">
                    <span class="uk-margin-auto-right" dir="rtl">
                        6 روز پیش
                    </span>
                    <h4 class="uk-comment-title uk-margin-remove">
                        بهنام بانی
                    </h4>
                </header>
                <div class="uk-comment-body">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                    </p>
                </div>
            </article>

            <!-- #endregion -->
            <!-- #region Comment -->
            <article class="uk-comment">
                <header class="row uk-margin-small-bottom ">
                    <span class="uk-margin-auto-right" dir="rtl">
                        6 روز پیش
                    </span>
                    <h4 class="uk-comment-title uk-margin-remove">
                        بهنام بانی
                    </h4>
                </header>
                <div class="uk-comment-body">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                    </p>
                </div>
            </article>

            <!-- #endregion -->
            <!-- #region Comment -->
            <article class="uk-comment">
                <header class="row uk-margin-small-bottom ">
                    <span class="uk-margin-auto-right" dir="rtl">
                        6 روز پیش
                    </span>
                    <h4 class="uk-comment-title uk-margin-remove">
                        بهنام بانی
                    </h4>
                </header>
                <div class="uk-comment-body">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                    </p>
                </div>
            </article>

            <!-- #endregion -->
            <!-- #region Comment -->
            <article class="uk-comment">
                <header class="row uk-margin-small-bottom ">
                    <span class="uk-margin-auto-right" dir="rtl">
                        6 روز پیش
                    </span>
                    <h4 class="uk-comment-title uk-margin-remove">
                        بهنام بانی
                    </h4>
                </header>
                <div class="uk-comment-body">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                    </p>
                </div>
            </article>

            <!-- #endregion -->

        </section>

    </content>
</div>

<div class="space"></div>

<script src="~/Scripts/UIScripts/CommentSection.js"></script>