
@{
    ViewBag.Title = "FactorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="space-nav-bottom"></div>

<content class="column clipped">

    <h4 class="uk-margin-remove-bottom">
        کد فاکتور #657684
    </h4>

    <table class="uk-table uk-table-divider" dir="rtl">
        <thead>
            <tr>
                <th>کد</th>
                <th>نام</th>
                <th>فی</th>
                <th>دسته بندی</th>
                <th>تعداد</th>
                <th>تخفیف</th>
                <th>مجموع</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>اسلش ورزشی</td>
                <td>10000</td>
                <td>لوازم ورزشی</td>
                <td>5</td>
                <td>12%</td>
                <td>50000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>اسلش ورزشی</td>
                <td>10000</td>
                <td>لوازم ورزشی</td>
                <td>5</td>
                <td>12%</td>
                <td>50000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>اسلش ورزشی</td>
                <td>10000</td>
                <td>لوازم ورزشی</td>
                <td>5</td>
                <td>12%</td>
                <td>50000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>اسلش ورزشی</td>
                <td>10000</td>
                <td>لوازم ورزشی</td>
                <td>5</td>
                <td>12%</td>
                <td>50000</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>8</td>
                <td>16%</td>
                <td>
                    100000
                </td>
            </tr>
        </tfoot>
    </table>

</content>

<div class="space"></div>