<div class="clipped">
    <h4 class="uk-margin-remove-bottom">
        سابقه خرید
    </h4>

    <table class="uk-table uk-table-divider" dir="rtl">
        <thead>
            <tr>
                <th>کد</th>
                <th>تاریخ</th>
                <th>قیمت کل</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1399/08/08</td>
                <td>63,000</td>
                <td>
                    <a href="/User/Profile/FactorView" uk-icon="eye"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
