@model IEnumerable<DataLayer.ViewModel.HistoryLogViewModel>
@{
    ViewBag.Title = "OrderTable";
}

<!-- #region Table -->
<div class="clipped uk-margin-medium-top">
    <h4>
        سابقه خرید اشتراک
    </h4>
    <table class="uk-table uk-table-divider" dir="rtl">
        <thead>
            <tr>
                <th>کد</th>
                <th>تاریخ</th>
                <th>مبلغ</th>
                <th>درصد تخفیف</th>
                <th>اشتراک</th>
                <th>وضعیت</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(Model.ToList().IndexOf(item)+1)</td>
                    <td>@item.Date.ToShamsi()</td>
                    <td>@item.MoneyTransfered</td>
                    @if (item.Discount == null)
                    {
                        <td>0</td>
                    }
                    else
                    {
                        <td>@item.Discount</td>
                    }

                    @if (item.PriceId == 1)
                    {
                        <td>اشتراک 1 ماهه</td>
                    }
                    else if (item.PriceId == 2)
                    {
                        <td>اشتراک 6 ماهه</td>
                    }
                    else if (item.PriceId == 3)
                    {
                        <td>اشتراک 1 ساله</td>
                    }
                    else
                    {
                        <td> بدون اشتراک </td>
                    }
                    @if (item.IsValid)
                    {
                        <td>موفق</td>
                    }
                    else
                    {
                        <td>ناموفق</td>
                    }
                </tr>
            }


        </tbody>
    </table>
</div>

<!-- #endregion -->
