@model IEnumerable<DataLayer.Models.Regular.TblOrder>
@{
    ViewBag.Title = "OrderTable";
}

<!-- #region Table -->
<div class="clipped">
    <h4 class="uk-margin-remove-bottom">
        سابقه خرید
    </h4>
    <table class="uk-table uk-table-divider" dir="rtl">
        <thead>
            <tr>
                <th>کد</th>
                <th>تاریخ</th>
                <th>قیمت کل</th>
                <th>وضعیت</th>
                <th>نمایش</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(Model.ToList().IndexOf(item)+1)</td>
                    <td>@item.Date.ToShamsi()</td>
                    <td>@item.Sum</td>
                    @if (item.IsFInaly)
                    {
                        <td>موفق</td>
                    }
                    else
                    {
                        <td>ناموفق</td>

                    }
                    <td>
                        <a href="/User/Profile/FactorView/@item.id" uk-icon="eye"></a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

<!-- #endregion -->
