@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Project Css -->
<link href="/Styles/Profile.min.css" rel="stylesheet" />

<!-- #region EditModal -->
@Html.Action("EditInfo", "Profile")
<!-- #endregion -->

<div class="space-nav-bottom"></div>

<content class="column clipped">

    @Html.Action("Info", "Profile")

    <!-- #region Cart -->

    @Html.Action("ShopCart", "Profile")

    <!-- #endregion -->
    <!-- #region History -->

    @Html.Action("History", "Profile")


    <!-- #endregion -->

</content>

<div class="space"></div>

<script>
    var circle = document.getElementsByClassName('progress-ring__circle')[0];
    var radius = circle.r.baseVal.value;
    var circumference = radius * 2 * Math.PI;

    circle.style.strokeDasharray = `${circumference} ${circumference}`;
    circle.style.strokeDashoffset = `${circumference}`;

    function setProgress(percent) {
        const offset = circumference - percent / 100 * circumference;
        circle.style.strokeDashoffset = offset;
    }

    const percentage = document.getElementsByClassName('progress-ring-container')[0].getAttribute("percentage");
    setProgress(parseInt(percentage));

</script>

