@model IEnumerable<DataLayer.Models.Regular.TblBlog>
@if (Model.Any())
{
    <div id="blogs" class="clipped row uk-margin-auto owl-carousel uk-margin-remove-top">
        <!-- #region Blog -->
        @foreach (var item in Model)
        {
            @Html.Partial("_BlogBlock", item)
        }
        <!-- #endregion -->
    </div>
}
