@model DataLayer.Models.Dto.DtoTblBlog
@{
    ViewBag.Title = "BlogView";
}


<!-- #region Styles -->

<link href="~/Styles/about.min.css" rel="stylesheet" />

<!-- #endregion -->

<div class="abouthead uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: 0" style="background-image: url('https://picsum.photos/800/300');">
    <h2 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">@Model.id</h2>
</div>

<div class="about mat column uk-margin-auto">
    <div class="uk-padding" role="document">
        <!-- #region Body -->

        <h2 class="uk-margin-remove-bottom">
            درباره ما
        </h2>

        <p>
            Cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus.
        </p>

        <h4 class="uk-margin-remove-bottom">
            لیست
        </h4>
        <ul>
            <li>
                محتوا
            </li>
            <li>
                محتوا
            </li>
            <li>
                محتوا
            </li>
            <li>
                محتوا
            </li>
        </ul>

        <h4 class="uk-margin-remove-bottom">
            تیتر
        </h4>
        <p>
            و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در راهکارها، و شرایط سخت تایپ به پایان رسد
            و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در راهکارها، و شرایط سخت تایپ به پایان رسدو فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در راهکارها، و شرایط سخت تایپ به پایان رسد
        </p>

        <!-- #endregion -->
        <a href="" class="uk-margin-remove-bottom uk-margin-auto-right">
            <span>7</span>
            <span uk-icon="heart"></span>
        </a>
    </div>
</div>

<div class="commies column uk-margin-auto  uk-margin-medium-top">

    <!--Comment Section-->
    <div class="row uk-margin-small-bottom">
        <h4 class="uk-margin-auto-left uk-margin-remove-top
                    uk-margin-remove-bottom ">
            نظرات
        </h4>
        <a onclick="HideElementsByIds(['comments','makeComment'])"
           class="rotary-chevron uk-margin-auto-top"
           id="btnHideCommentSection"
           uk-icon="icon:chevron-down;ratio:1.5"></a>
    </div>

    <section id="makeComment" class="make-comment uk-margin-bottom">
        <div class="mat column">
            <div class="column">
                <textarea class="textbox-bulk-txt" type="text" placeholder="..."></textarea>
            </div>
            <div class="row uk-margin-top">
                <div class="row star-container">
                    <span class="star-cb-group">
                        <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
                        <input type="radio" id="rating-4" name="rating" value="4" checked="checked" /><label for="rating-4">4</label>
                        <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
                        <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
                        <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
                        <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                    </span>
                </div>
                <button class="uk-margin-auto-left">
                    ثبت
                </button>
            </div>
        </div>
    </section>

    <section id="comments" class="comments">
        <!-- #region Comment -->
        <article class="uk-comment">
            <header class="row uk-margin-small-bottom ">
                <span class="uk-margin-auto-right" dir="rtl">
                    6 روز پیش
                </span>
                <h4 class="uk-comment-title uk-margin-remove">
                    بهنام بانی
                </h4>
            </header>
            <div class="uk-comment-body">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                </p>
            </div>
        </article>

        <!-- #endregion -->
        <!-- #region Comment -->
        <article class="uk-comment">
            <header class="row uk-margin-small-bottom ">
                <span class="uk-margin-auto-right" dir="rtl">
                    6 روز پیش
                </span>
                <h4 class="uk-comment-title uk-margin-remove">
                    بهنام بانی
                </h4>
            </header>
            <div class="uk-comment-body">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                </p>
            </div>
        </article>

        <!-- #endregion -->
        <!-- #region Comment -->
        <article class="uk-comment">
            <header class="row uk-margin-small-bottom ">
                <span class="uk-margin-auto-right" dir="rtl">
                    6 روز پیش
                </span>
                <h4 class="uk-comment-title uk-margin-remove">
                    بهنام بانی
                </h4>
            </header>
            <div class="uk-comment-body">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                </p>
            </div>
        </article>

        <!-- #endregion -->
        <!-- #region Comment -->
        <article class="uk-comment">
            <header class="row uk-margin-small-bottom ">
                <span class="uk-margin-auto-right" dir="rtl">
                    6 روز پیش
                </span>
                <h4 class="uk-comment-title uk-margin-remove">
                    بهنام بانی
                </h4>
            </header>
            <div class="uk-comment-body">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                </p>
            </div>
        </article>

        <!-- #endregion -->

    </section>

</div>

<div class="space"></div>

<script src="~/Scripts/UIScripts/CommentSection.js"></script>