@model IEnumerable<DataLayer.Models.Regular.TblLive>
@{
    ViewBag.Title = "AllLives";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="space" role="none"></div>

@Html.Action("LivePage", "HomeVideo")

<div class="space" role="none"></div>
