@model DataLayer.ViewModel.ActiveViewModel
@{
    ViewBag.Title = "فعال سازی";
}

<div class="space-nav"></div>
<div class="column uk-container uk-margin-auto">
    @using (Html.BeginForm())
    {
        <h3>
            برای فعال سازی حساب کاربری روی دکمه زیر کلید کنید
        </h3>
        @Html.ValidationMessageFor(m => m.id, "", new { @class = "uk-text-danger" })
        <div class="column center uk-margin-large-top">
            <button class="btn-primary uk-margin-bottom text-center">
                  فعال سازی
            </button>
        </div>
    }
</div>

<div class="space-nav"></div>
<div class="space-nav"></div>
