@model DataLayer.ViewModel.ActiveViewModel
@{
    ViewBag.Title = "فعال سازی";
}

<div class="space-nav"></div>
<div class="uk-container uk-flex">
    <div class="mat column uk-container uk-padding-remove uk-margin-auto">
        @using (Html.BeginForm())
        {
            <div class="uk-padding column">
                <h1 class="uk-h3 center">
                    برای فعال سازی حساب کاربری روی دکمه زیر کلید کنید
                </h1>
                @Html.ValidationMessageFor(m => m.id, "", new { @class = "uk-text-danger uk-margin-auto" })
                <button class="btn-primary uk-margin-auto uk-margin-medium-top text-center">
                    فعال سازی
                </button>
            </div>
        }
    </div>
</div>

<div class="space"></div>
<div class="space-nav"></div>
