
<div id="ModalLogin" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <div class="alternate" onclick="">
            <img src="https://picsum.photos/400/600" alt="" />
            <form class="column">
                <h3>
                    ورود
                </h3>
                <label>
                    نام کاربری
                </label>
                <input class="uk-margin-small-top" type="text" value="" required />
                <label class="uk-margin-top">
                    رمز عبور
                </label>
                <input class="uk-margin-small-top" type="text" value="" required />
                <div class="row uk-margin-medium-top">
                    <a class="uk-button uk-button-default uk-margin-auto-bottom uk-margin-auto-left uk-margin-right "
                       onclick="UIkit.modal(document.getElementById('ModalRegister')).show();">ثبت نام</a>
                    <button class=" uk-margin-auto-bottom ">
                        ورود
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

