
<div id="Modal-Account" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        @Html.Action("Login", "Account", new { area = "" })
    </div>
</div>
<div id="ModalLogin" uk-modal>
    @Html.Action("Login", "HomeAccount", new { area = "" })
</div>
<script>
    UIkit.modal(document.getElementById('Modal-Account')).show();
        //showLogin();
</script>