
@{
    ViewBag.Title = "تغیر رمز";
}
<div class="space-nav"></div>
<div class="column uk-container uk-flex uk-margin-auto">
    <div class="mat uk-padding center">
        <h3 class="center">
            تغیر رمز
        </h3>
        <p>
            برای تغیر رمز روی دکمه زیر کلید کنید
        </p>
        <button class=" center uk-margin-top btn-primary uk-margin-bottom btn" onclick="changePassword(@ViewBag.recovery)">
            تغیر رمز
        </button>
    </div>
</div>

<div class="space-nav"></div>
