
@{
    ViewBag.Title = "تغیر رمز";
}
<div class="space-nav"></div>
<div class="column uk-container uk-margin-auto">

        <h3>
            برای تغیر رمز روی دکمه زیر کلید کنید
        </h3>
        <div class="column center uk-margin-large-top">
            <button class="btn-primary uk-margin-bottom text-center btn" onclick="changePassword(@ViewBag.recovery)">
                تغیر رمز
            </button>
        </div>
   
</div>

<div class="space-nav"></div>
<div class="space-nav"></div>

