@model DataLayer.Models.Regular.TblUserPass
@{
    ViewBag.Title = "بازیابی کلمه عبور";
}

<div class="alert alert-success">
    <h2>@Model.Username عزیز  .</h2>
    <p>ایمیلی حاوی لینک بازیابی کلمه عبور به ایمیل " @Model.TblClient.Single().Email " ارسال شد ، لطفا وارد ایمیل فوق شوید و روی لینک کلیک کنید .</p>
</div>


