
@{
    ViewBag.Title = "خرید اشتراک";
}

<div class="space-nav" role="none"></div>

<content class="clipped column">
    <h4>
        سبد خرید
    </h4>
    <div id="listCompare">
        @Html.Action("ListCompare")
    </div>

    <div class="row uk-margin-top uk-margin-xlarge-bottom">
        <div class="row uk-margin-auto-right AddDiscount">
            <button onclick="AddDiscount()">اعمال</button>
            <input type="text" id="DiscountName" class="uk-margin-small-left" placeholder="کد تخفیف" />
        </div>
        <form action="/HomeShopCart/Plans" method="post">
            <input type="submit" class="uk-margin-auto-left button-primary" value="اتمام خرید"/>
                
        </form>

    </div>




</content>


<script>
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function AddDiscount() {
        if ($("#DiscountName").val() == "") {
            alert(' کد تخفیف خالیست');
            return false;
        }
        $.ajax({
            url: "/HomeShopCart/CheckDiscount/",
            type: "POST",
            data: {
                name: $("#DiscountName").val(),
            },
            success: function (response) {
                if (response.success) {
                    alert("کد تخفیف موجود نیست");
                    //var NumberPrice = $('#PriceSum').val();
                    //var price = parseInt(NumberPrice);
                    //var percent = parseInt(response.responseText);
                    //var final = price - Math.floor((price * percent) / 100);
                    //$('#FinalPricehid').html(numberWithCommas(final));
                    //$('#PriceSum').val(final);
                    //$('#Discount').val(percent);
                    //$('#listCompare').html(response);
                    //$('.AddDiscount').hide();
                } else {
                    $('#listCompare').html(response);
                    $('#DiscountName').val("");
                    //$('.AddDiscount').hide();
                }
            },
            error: function (response) {
                alert("کد تخفیف موجود نیست");
            }
        });
    }
</script>

