
@{
    ViewBag.Title = "Plans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Styles/Plans.min.css" rel="stylesheet" />

<div class="space-nav-bottom"></div>

<div class="uk-padding">
    <div class="plans uk-margin-auto">
        <div class="plan-card silver" dir="rtl">
            <div class="row plan-time uk-margin-auto">
                <h3>
                    30
                </h3>
                <span>
                    روز
                </span>
            </div>
            <img src="~/Resources/Svg/Sliver.svg" height="48" class="uk-margin-auto-left" />
            <ul>
                <li>
                    <span>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </span>
                </li>
                <li>
                    <span>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </span>
                </li>
                <li>
                    <span>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </span>
                </li>

            </ul>
            <form action="/HomeShopCart/Plans/" method="post">
                <div class="row plan-price">
                    <input type="hidden" name="id" value="1" />
                    <button class="uk-margin-auto-left">
                        شارژ
                    </button>
                    <h4>30,000</h4>
                    <span>تومان</span>
                </div>
            </form>
        </div>
        <div class="plan-card gold" dir="rtl">
            <div class="row plan-time uk-margin-auto">
                <h3>
                    6
                </h3>
                <span>
                    ماه
                </span>
            </div>
            <img src="~/Resources/Svg/Gold.svg" height="64" class="uk-margin-auto-left" />
            <ul>
                <li>
                    <span>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </span>
                </li>
                <li>
                    <span>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </span>
                </li>
                <li>
                    <span>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </span>
                </li>

            </ul>
            <form action="/HomeShopCart/Plans/" method="post">
                <div class="row plan-price">
                    <input type="hidden" name="id" value="2" />
                    <button class="uk-margin-auto-left">
                        شارژ
                    </button>
                    <h4>162,000</h4>
                    <span>تومان</span>
                </div>
            </form>
        </div>
        <div class="plan-card platinum" dir="rtl">
            <div class="row plan-time uk-margin-auto">
                <h3>
                    1
                </h3>
                <span>
                    سال
                </span>
            </div>
            <img src="~/Resources/Svg/Plat.svg" height="64" class="uk-margin-auto-left" />
            <ul>
                <li>
                    <span>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </span>
                </li>
                <li>
                    <span>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </span>
                </li>
                <li>
                    <span>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </span>
                </li>

            </ul>
            <form action="/HomeShopCart/Plans/" method="post">
                <div class="row plan-price">
                    <input type="hidden" name="id" value="3" />
                    <button class="uk-margin-auto-left">
                        شارژ
                    </button>
                    <h4>296,000</h4>
                    <span>تومان</span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="space"></div>
