
@{
    ViewBag.Title = "عملیات";
}

<div style="margin-top:200px;">

    @if (ViewBag.IsSuccess == true)
    {
        <div class="uk-alert-success noprint">
            <h2>تراکنش با موفقیت انجام شد</h2>
            <hr />
            <p>کد پیگیری شما : @ViewBag.RefId</p>
        </div>
    }
    else
    {
        <div class="uk-alert-success noprint">
            <h2>تراکنش با شکست مواجه شد</h2>
            <hr />
            <p>کد پیگیری شما : @ViewBag.Status</p>
        </div>
    }
</div>