
@{
    ViewBag.Title = "CategoriesPage";
}

<h3 class="clipped uk-margin-medium-top text-center">دسته بندی ها</h3>

<section class="categories clipped uk-margin-auto uk-margin-medium-bottom">
    <a href="" class="category">
        <img src="https://picsum.photos/220" alt="" />
    </a>
    <a href="" class="category">
        <img src="https://picsum.photos/220" alt="" />
    </a>
    <a href="" class="category">
        <img src="https://picsum.photos/220" alt="" />
    </a>
    <a href="" class="category">
        <img src="https://picsum.photos/220" alt="" />
    </a>
    <a href="" class="category">
        <img src="https://picsum.photos/220" alt="" />
    </a>
    <a href="" class="category">
        <img src="https://picsum.photos/220" alt="" />
    </a>
    <a href="" class="category">
        <img src="https://picsum.photos/220" alt="" />
    </a>
    <a href="" class="category">
        <img src="https://picsum.photos/220" alt="" />
    </a>
    <a href="" class="category">
        <img src="https://picsum.photos/220" alt="" />
    </a>
    <a href="" class="category">
        <img src="https://picsum.photos/220" alt="" />
    </a>
</section>