@model IEnumerable<DataLayer.Models.Regular.TblVideoCatagory>
@{
    ViewBag.Title = "CategoriesPage";
}

<h3 class="clipped uk-margin-medium-top text-center">دسته بندی ها</h3>

<section class="categories clipped uk-margin-auto uk-margin-medium-bottom">

    @foreach (var item in Model)
    {
        <a href="/CategoryView/@item.id/@item.Name" class="category">
            <img src="~/Resources/VideoCatagory/@item.Image" alt="" />
        </a>
    }
</section>