@model IEnumerable<DataLayer.Models.Regular.TblVideoCatagory>
@{
    ViewBag.Title = "CategoriesPage";
}

<h3 class="clipped uk-margin-medium-top text-center">دسته بندی ها</h3>

<section id="categories" class="clipped row uk-margin-auto owl-carousel uk-margin-remove-top">

    @foreach (var item in Model)
    {
        <a href="/CategoryView/@item.id/@item.Name.Replace(" ","-")" class="category">
            <img src="~/Resources/VideoCatagory/Thumb/@item.Image" alt="" />
        </a>
    }
</section>

