@model DataLayer.Models.Regular.TblClient
<section class="profile mat column uk-padding">
    <h4>
        اطلاعات حساب
    </h4>
    <div class="row">
        <div class="column uk-margin-auto-left">
            <label>
                نام کاربری
            </label>
            <h5>
                @Model.Name
            </h5>

        </div>
        <div class="column uk-margin-auto-left">
            <label>
                رایانامه
            </label>
            <h5>
                @Model.Email
            </h5>
            <label>
                کد دعوت شما
            </label>
            <h5>
                166cEd85
            </h5>
        </div>
    </div>
</section>
