
<ul id="tutors" class="owl-carousel uk-margin-small-top">
    <li>
        <a href="" class=" card uk-padding row">
            <content>
                <h3>مربی4</h3>
                <h5>
                    لورم ایپسوم متن
                </h5>
            </content>
            <img src="../Resources/Png/Categories/Box.png" alt="" />
        </a>
    </li>
    <li>
        <a href="" class="card uk-padding row">
            <content>
                <h3>مربی4</h3>
                <h5>
                    لورم ایپسوم متن
                </h5>
            </content>
            <img src="../Resources/Png/Categories/Box.png" alt="" />
        </a>
    </li>
    <li>
        <a href="" class="card uk-padding row">
            <content>
                <h3>مربی4</h3>
                <h5>
                    لورم ایپسوم متن
                </h5>
            </content>
            <img src="../Resources/Png/Categories/Box.png" alt="" />
        </a>
    </li>
    <li>
        <a href="" class="card uk-padding row">
            <content>
                <h3>مربی4</h3>
                <h5>
                    لورم ایپسوم متن
                </h5>
            </content>
            <img src="../Resources/Png/Categories/Box.png" alt="" />
        </a>
    </li>
    <li>
        <a href="" class="card uk-padding row">
            <content>
                <h3>مربی4</h3>
                <h5>
                    لورم ایپسوم متن
                </h5>
            </content>
            <img src="../Resources/Png/Categories/Box.png" alt="" />
        </a>
    </li>
    <li>
        <a href="" class="card uk-padding row">
            <content>
                <h3>مربی4</h3>
                <h5>
                    لورم ایپسوم متن
                </h5>
            </content>
            <img src="../Resources/Png/Categories/Box.png" alt="" />
        </a>
    </li>
    <li>
        <a href="" class="card uk-padding row">
            <content>
                <h3>مربی4</h3>
                <h5>
                    لورم ایپسوم متن
                </h5>
            </content>
            <img src="../Resources/Png/Categories/Box.png" alt="" />
        </a>
    </li>
    <li>
        <a href="" class="card uk-padding row">
            <content>
                <h3>مربی4</h3>
                <h5>
                    لورم ایپسوم متن
                </h5>
            </content>
            <img src="../Resources/Png/Categories/Box.png" alt="" />
        </a>
    </li>
    <li>
        <a href="" class="card uk-padding row">
            <content>
                <h3>مربی4</h3>
                <h5>
                    لورم ایپسوم متن
                </h5>
            </content>
            <img src="../Resources/Png/Categories/Box.png" alt="" />
        </a>
    </li>
    <li>
        <a href="" class="card uk-padding row">
            <content>
                <h3>مربی4</h3>
                <h5>
                    لورم ایپسوم متن
                </h5>
            </content>
            <img src="../Resources/Png/Categories/Box.png" alt="" />
        </a>
    </li>
</ul>
