@model DataLayer.Models.Regular.TblTutor

@{
    ViewBag.Title = ViewBag.Name;
}



<!-- Project Css -->
<link href="~/Styles/Video.min.css" rel="stylesheet" />

<div class="space-nav-bottom"></div>

<div class="tutor column center uk-margin-auto">
    <img class="uk-margin-auto uk-border-circle" id="tutorProfileImage" src="~/Resources/Tutor/Thumb/@Model.MainImage" />
    <h4 class="uk-margin-auto uk-margin-small-top uk-margin-remove-bottom">@Model.Name</h4>
    <h6 class="uk-margin-auto uk-margin-small-top">@Model.Specialty</h6>
</div>

<section class="videos uk-margin-medium-top column">
    <h3 class="clipped uk-margin-top uk-margin-small-bottom center">ویدیوهای <span class="simple">اخیر</span></h3>
    <content class="grid uk-margin-medium-bottom" dir="rtl">

        @foreach (var item in Model.TblTuotorVideoRel.Select(p => p.TblVideo))
        {

            @Html.Partial("_VideoBlock", item)

            <!-- #region Video -->

         

            <!-- #endregion -->
        }
    </content>
</section>
