@{
    ViewBag.Title = "درباره ما";
}

<!-- #region Styles -->

<link href="~/Styles/about.min.css" rel="stylesheet" />

<!-- #endregion -->


<div class="abouthead uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: 0" style="background-image: url('../Resources/Png/CalculatorBackground.png');">
    <h2 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">درباره ما</h2>
</div>
<div class="about mat column clipped center">
    <div class="uk-padding" role="document">
        <h2 class="uk-margin-remove-bottom">
            درباره ما
        </h2>
        <p>
            Cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus.
        </p>

        <h4 class="uk-margin-remove-bottom">
            لیست
        </h4>
        <ul>
            <li>
                محتوا
            </li>
            <li>
                محتوا
            </li>
            <li>
                محتوا
            </li>
            <li>
                محتوا
            </li>
        </ul>

        <h4 class="uk-margin-remove-bottom">
            تیتر
        </h4>
        <p>
            و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در راهکارها، و شرایط سخت تایپ به پایان رسد
            و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در راهکارها، و شرایط سخت تایپ به پایان رسدو فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در راهکارها، و شرایط سخت تایپ به پایان رسد
        </p>

        <a href="#" uk-icon="icon: phone">0914 315 74 56 </a>
        <a href="#" uk-icon="icon: whatsapp">+98 914 315 74 56 </a>
        <a href="#" uk-icon="icon:instagram"> اینستاگرام </a>
        <a href="#" uk-icon="icon: twitter"> توئیتر </a>

    </div>

</div>


<div class="space"></div>
