@{
    ViewBag.Title = "درباره ما";
}

<!-- #region Styles -->

<link href="~/Styles/about.min.css" rel="stylesheet" />

<!-- #endregion -->


<div class="abouthead uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: 0" style="background-image: url('../Resources/Png/CalculatorBackground.png');">
    <h2 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">درباره ما</h2>
</div>
<div class="about mat column clipped center">
    <div class="uk-padding" role="document">
        <h2 class="uk-margin-remove-bottom">
            درباره ما
        </h2>
        <p style=" line-height: 2;">

            توسعه اینترنت روش‌های آموزش و خرید و فروش  ما را به کلی دگرگون کرده است. منافع موجود در آموزش اینترنتی هر روز تعداد بیشتری از مردم را به تجربه آن و ایجاد تغییر در الگوهای متداول خرید ترغیب می‏‌کند. امروز دیگر افراد این روش آموزش را بیشتر منطبق بر شرایط زندگی مدرن می‏‏‏‌بینند. ویژگی‏‏‏‌ها و طبیعت آموزش اینترنتی با روحیات و نیازهای رو به رشد ما هماهنگ‏‏‌تر شده است. همه سخت در حال تلاش برای پیشرفت‏‏‌های شخصی و جمعی خود هستیم.
            امروزه بهای اوقات فراغت ما با وجود مشغله‏‌های روزانه بسیار گرانبها‌تر شده است. همه ما برای این اوقات برنامه ریزی فشرده‏‌تری داریم. دیگر صرف زمان‌هایی نسبتا طولانی در فعالیت‏‌های نه‌چندان با اهمیت مانند آموزش ها و سفرهای شهری برای بسیاری از انسان‌ها اولویت خود را از دست داده است.
            <br />
            <br />
            هوشمندی انسان‌ها، آنها را مجاب می‏‌کند که با تغییر در الگوهای قدیمی و نا‏کارآمد زندگی، هوشمندانه‏‌تر و امروزی‏‌تر زندگی کنند. صرف اوقات فراغت برای تفریح، آموزش، ورزش، لذت بردن از علایق شخصی و رفع خستگی‏‏‌های روزانه اولویت بیشتری نسبت به فعالیت‌‏‏‏های وقت‌گیر و در عین حال کم اهمیت‏‏‏‌تر مانند خرید کردن دارند.
            امروز دیگر برای بیشتر نیازهای روزمره راه‏ حل‏‏‏‌های جدیدتری وجود دارد، از جمله برای آموزش ، ورزش و خرید کالا. دیگر کمتر کسی برای آموزش ، بدون تحقیق و بررسی دقیق اقدام می‏‌کند.
            مشتریان پیشاپیش و قبل از آموزش و خرید از حق انتخاب گسترده خود و اطلاعات موجود نهایت استفاده را می‏‌برند. مشتری در دنیای امروز حق انتخاب بیشتری را طلب می‏‌کند و مایل است دقیق‏‌تر و با قطعیت بیشتری انتخاب کند. زندگی امروزی بی‏‌گمان آموزش به رو‏‌ش‌های نو‏تر، هوشمندانه‏‌تر و البته لذت‏‏ بخش‏‌تری را می‏‌طلبد. از همین روست که هر روز به تعداد استفاده‏ کنندگان سرویس‌های اینترنتی و مشتریان فروشگاه‏‏‌‏های اینترنتی افزوده می‌‏‏شود.
            <br />
            ان فیکس: بررسی، انتخاب ، آموزش و خرید آنلاین
            <br />

            ان فیکس مرجع تخصصی نقد و بررسی ورزش بدنسازی ، آموزش ، و فروش اینترنتی کالای ورزشی و پزشکی  در ایران است. ان فیکس با در اختیار داشتن سهم عمده‏‌ای از آموزش اینترنتی در ایران با تنوعی بسیار بالا از چهره های مطرح بدنسازی، دکتر های فوق تخصص در همراهی مشتریان در فرآیند آموزش و حفظ جایگاه بی‏‏‏‌طرفانه در میان آنها، نهایت تلاش خود را می‌‏‏کند. کاربران و مشتریان ان فیکس می‏‏‌توانند با حق انتخابی بسیار بالا و با دریافت اطلاعاتی کامل برای انتخاب درست آموزش های  مورد نظر خود، وب سایت ان فیکس را بررسی کنند و با حداکثر اطمینان آموزش های ورزشی خود را انتخاب و استفاده کنند.
            <br />
            <br />
            همواره بهترین انتخاب و بهترین خدمات، شایسته مشتری ان فیکس است.
            ان فیکس از دریافت کنندگان نماد اعتماد الکترونیک از مرکز توسعه تجارت الکترونیک وزارت صنعت، معدن و تجارت و به عنوان برگزیده بسیاری از مراجع و نهادهای ذی‏ربط، دارای کلیه مجوزهای رسمی مورد نیاز برای فعالیت در این حوزه است‏ .همچنین، در حال حاضر ان فیکس با توجه به استقبال چشمگیر کاربران و مشتریان خود، پرمخاطب‏‏‏‌ترین و پربازدیدترین وب‏ سایت آموزش کشور است (به استناد آمارهای منتشر شده در مراجع آماری مانند Alexa).
            همواره یکی از اولویت‌های ان فیکس ، تولید و ارائه محتوای فنی مورد نیاز کاربران با بالاترین استانداردها، برای تسهیل در فرایند آموزش آنهاست. برای ان فیکس بسیار مهم است که میلیون‏‌ها کاربر آن، آموزش های تخصصی مورد نیاز خود را به درستی و با دقت بالا و بیشترین سهولت انتخاب کنند. ان فیکس از هرگونه تلاشی برای بالاتر بردن کیفیت آموزش مشتریان خود دریغ نمی‏‌کند و همواره تلاش می‏‌کند تا در طول فرآیند آموزش یعنی پیش، حین و پس از آموزش، بیشترین ارزش را برای کاربران و مشتریان خود خلق کند.
            ان فیکس در سال ۱۳۹۸  با راه اندازی "رسانه تصویری ان فیکس" یا Nfix TV برای اولین بار در کشور ترکیه تولید و ارائه محتوای ویدئویی آموزشی و تخصصی در زمینه آموزش بدنسازی و فن‏‌آوری‏ های این حوزه را آغاز کرد. هدف از تولید این ویدئوها ایجاد امکانی برای کاربران جهت بررسی دقیق‌تر تمامی ابعاد و مشخصات آموزشی و شکل‌گیری تصویری دقیق‏‏‌تر از کالاها و تکنولوژی‏ های این حوزه بود. در حال حاضر این بخش یکی از محبوب‏‌ترین خدمات ان فیکس است، از این رو تولید محتوای تخصصی با کیفیت و استانداردهایی فراتر از گذشته یکی از راهبردهای اصلی ان فیکس محسوب می‏‌شود. رسانه تصویری ان فیکس در جهت تولید محتوای ویدئویی ورزشی با بکارگیری افراد متخصص این حوزه نهایت تلاش خود را می‏‏‌کند. این ویدئوها به صورت کاملا مستقل و در استودیوی اختصاصی ان فیکس تولید می‏‌شوند .
            ان فیکس با ارائه طیف گسترده‏‌ای از معتبرترین برندها در گروه‌‏های مختلف و با همکاری نزدیک با وارد‏کنندگان و توزیع‏ کنندگان اصلی این کالاهای ورزشی در ایران، تلاش می‏‌کند تا نیازهای متفاوت مشتریان با کاربری‏‌های ورزشی و پزشکی آنان را برآورده سازد. ارائه قیمت‏‌های کاملا رقابتی و مناسب، همراه با کیفیت مطلوب خدمات پس از فروش از اولویت‏‌های ان فیکس محسوب می‌شود. ان فیکس با درک اهمیت این موضوع برای مشتریان خود و با بکارگیری نهایت توان و ابزارهای در دسترس در تعاملات خود با تامین‏ کنندگان، می‏‏‌کوشد امکان ارائه پایین‏‏‌ترین قیمت‏‏‌ها و بهترین خدمات را فراهم آورد. طرح‏‏‌های مشوق خرید همواره مورد توجه مشتریان بوده و ان فیکس نیز به منظور قدردانی از مشتریان وفادار خود همواره تخفیف‏‌های قابل توجهی را در قالب طرح‌های مختلف مشوق خرید برای آنان در نظر می‏‏‌گیرد. کیفیت و سهولت استفاده از وب‏ سایت ان فیکس و خدمات ارائه شده در آن، همواره یکی از مهم‏‌ترین و با اولویت‌ترین موضوعات در ان فیکس بوده است و همه کارکنان فنی و تخصصی آن نهایت تلاش خود را به عمل می‌آورند تا با ارائه با‏کیفیت‏‌ترین و به‏‌روز‏ترین سرویس‏‌های مبتنی بر وب و تسهیل تمامی فرآیندهای بررسی، آموزش و خرید کالای ورزشی  در وب سایت ان فیکس، خدماتی شایسته و تجربه‌ای خوشایند را برای مخاطبان خود به ارمغان بیاورند.

        </p>



        <a href="#" uk-icon="icon: phone">0936 571 06 16 </a>
        <a href="#" uk-icon="icon: whatsapp">+98 936 571 06 16  </a>
        <a href="#" uk-icon="icon:instagram"> اینستاگرام </a>
        <a href="#" uk-icon="icon: twitter"> توئیتر </a>

    </div>

</div>


<div class="space"></div>

