
@{
    ViewBag.Title = "BlogsPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Styles/blogs.min.css" rel="stylesheet" />

<div class="space-nav-bottom"></div>

<!-- #region All Blogs -->

<h3 class="myBlogs clipped">تمام وبلاگ ها </h3>
<content class="grid " dir="rtl">

    <article class="column card ">
        <img src="../Resources/Png/Categories/Box.png" alt="" />
        <content>

            <h3>مربی 1</h3>
            <p>و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در راهکارها، و شرایط سخت تایپ به پایان رسد</p>
            <a class="uk-margin-auto-top" href="#">بیشتر...</a>
        </content>

    </article>

    <!-- #region blog -->

    <article class="column card ">
        <img src="../Resources/Png/Categories/Box.png" alt="" />
        <content>

            <h3>مربی 2</h3>
            <p>و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در راهکارها، و شرایط سخت تایپ به پایان رسد</p>
            <a class="uk-margin-auto-top" href="#">بیشتر...</a>
        </content>

    </article>
    <!-- #endregion -->
    <!-- #region blog -->

    <article class="column card ">
        <img src="../Resources/Png/Categories/Box.png" alt="" />
        <content>

            <h3>مربی 3</h3>
            <p>و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در راهکارها، و شرایط سخت تایپ به پایان رسد</p>
            <a class="uk-margin-auto-top" href="#">بیشتر...</a>
        </content>

    </article>

    <!-- #endregion -->
    <!-- #region blog -->

    <article class="column card ">
        <img src="../Resources/Png/Categories/Box.png" alt="" />
        <content>

            <h3>مربی 5</h3>
            <p>و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در راهکارها، و شرایط سخت تایپ به پایان رسد</p>
            <a class="uk-margin-auto-top" href="#">بیشتر...</a>
        </content>

    </article>
    <!-- #endregion -->

</content>

<!-- #endregion -->

<div class="space"></div>