<section class="hero column">
    <header id="header" class="column uk-margin-auto-right">
        <h1 class="uk-margin-remove-bottom"><span>N</span>FIX</h1>
        <hr class="uk-margin-remove" />
        <p class="uk-margin-small-top">
            Proffesional
            <br />
            Fitness App
        </p>
        <button class="button-outline uk-button uk-button-default uk-margin-small-top">
            <span class="uk-icon" uk-icon="icon:download"></span>
            <span>
                Download
            </span>
        </button>
    </header>
    <!--icons in header-->
    <div class="rowIcon uk-margin-auto-top">
        <a href="#" uk-tooltip="اشتراک">
            <img src="../Resources/Svg/Union.svg" />
        </a>
        <a href="#" uk-tooltip="اینستاکرام">
            <img src="../Resources/Svg/Unio2n.svg" />
        </a>
        <a href="#" uk-tooltip="فیس بوک">
            <img src="../Resources/Svg/asdfwe03.svg" />
        </a>
    </div>
    <!---->
    @*<video controls="controls">
            <source src="~/Resources/Svg/VID-20201104-WA0001.mp4" type="video/mp4" />
        </video>*@

    <a href="#videos" uk-icon="icon:chevron-down; ratio:2.5"
       class="uk-icon center"></a>

    <a onclick="slideInVideo()" uk-toggle uk-icon="icon: play-circle; ratio: 2"
       class="player uk-icon uk-margin-small-right"></a>

    <div id="darnVideo">
        <video id="video">
            <source src="~/Resources/Svg/VID-20201104-WA0001.mp4" type="video/mp4" />
        </video>
    </div>

</section>
<div class="man"></div>


<script>
    function slideInVideo() {
        const darn = document.getElementById('darnVideo');
        const video = document.getElementById('video');
        const header = document.getElementById('header');
        const man = document.getElementsByClassName('man')[0];

        darn.style.display = "block";
        darn.style.transition = "all ease .5s";
        darn.style.opacity = "1";
        darn.style.left = "0";

        video.style.visibility = "visible";

        header.style.transition = "all ease .5s";
        header.style.opacity = "0";

        man.style.transition = "all ease .5s";
        man.style.opacity = "0";

        setTimeout(function () {
            video.play();
        }, 500)

    }
</script>

