
<section class="hero column">
    <header class="column uk-margin-auto-right">
        <h1 class="uk-margin-remove-bottom"><span>N</span>FIX</h1>
        <hr class="uk-margin-remove" />
        <p class="uk-margin-small-top">
            Proffesional
            <br />
            Fitness App
        </p>
        <button class="button-outline uk-button uk-button-default uk-margin-small-top">
            <span class="uk-icon" uk-icon="icon:download"></span>
            <span>
                Download
            </span>
        </button>
    </header>
    <!--icons in header-->
    <div class="rowIcon uk-margin-auto-top">
        <a href="#" uk-tooltip="اشتراک">
            <img src="../Resources/Svg/Union.svg" />
        </a>
        <a href="#" uk-tooltip="اینستاکرام">
            <img src="../Resources/Svg/Unio2n.svg" />
        </a>
        <a href="#" uk-tooltip="فیس بوک">
            <img src="../Resources/Svg/asdfwe03.svg" />
        </a>
    </div>
    <!---->
    <a href="#videos" uk-icon="icon:chevron-down; ratio:2.5"
       class="uk-icon center"></a>
    <a href="../Resources/Png/Man.png" uk-icon="icon: play-circle; ratio: 2"
       class="player uk-icon uk-margin-small-right"></a>
</section>
<div class="man"></div>