
@{
    ViewBag.Title = "VideosPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Project Css -->
<link href="../Styles/videos.min.css" rel="stylesheet" />
<link href="../Styles/Category.min.css" rel="stylesheet" />

<div class="space-nav-bottom"></div>

<section class="videos column">
    <h4 class="clipped uk-margin-medium-top uk-text-muted uk-text-light">نتایج جستجو برای <span class="uk-text-bold">ساده</span></h4>
    <content class="grid uk-margin-medium-bottom" dir="rtl">
        <!-- #region Video -->
        <div class="video column" dir="rtl">
            <div class="vid column">
                <img class="thumbnail" src="https://picsum.photos/400/300" alt="" />
                <a class="uk-icon" uk-icon="icon: play; ratio:4"></a>
            </div>
            <div class="uk-margin-small-top row">
                <div class="tutor uk-margin-remove-top row">
                    <a href="#">
                        <img class="profile-img" src="https://picsum.photos/64" />
                    </a>
                </div>
                <div class="title column uk-margin-auto-left uk-margin-small-right uk-margin-remove-top">
                    <a href="#">
                        <h5 class="uk-margin-auto-left">
                            این یک ویدیو است
                            این یک ویدیو است
                            این یک ویدیو است
                        </h5>
                    </a>
                    <div class="row">
                        <a href="#" class="tutor-link uk-margin-auto-left">
                            نام و نام خانوادگی
                        </a>
                        <span class="row">
                            <span>1600</span>
                            <span uk-icon="icon: play"></span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Video -->
        <div class="video column" dir="rtl">
            <div class="vid column">
                <img class="thumbnail" src="https://picsum.photos/400/300" alt="" />
                <a class="uk-icon" uk-icon="icon: play; ratio:4"></a>
            </div>
            <div class="uk-margin-small-top row">
                <div class="tutor uk-margin-remove-top row">
                    <a href="#">
                        <img class="profile-img" src="https://picsum.photos/64" />
                    </a>
                </div>
                <div class="title column uk-margin-auto-left uk-margin-small-right uk-margin-remove-top">
                    <a href="#">
                        <h5 class="uk-margin-auto-left">
                            این یک ویدیو است
                            این یک ویدیو است
                            این یک ویدیو است
                        </h5>
                    </a>
                    <div class="row">
                        <a href="#" class="tutor-link uk-margin-auto-left">
                            نام و نام خانوادگی
                        </a>
                        <span class="row">
                            <span>1600</span>
                            <span uk-icon="icon: play"></span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Video -->
        <div class="video column" dir="rtl">
            <div class="vid column">
                <img class="thumbnail" src="https://picsum.photos/400/300" alt="" />
                <a class="uk-icon" uk-icon="icon: play; ratio:4"></a>
            </div>
            <div class="uk-margin-small-top row">
                <div class="tutor uk-margin-remove-top row">
                    <a href="#">
                        <img class="profile-img" src="https://picsum.photos/64" />
                    </a>
                </div>
                <div class="title column uk-margin-auto-left uk-margin-small-right uk-margin-remove-top">
                    <a href="#">
                        <h5 class="uk-margin-auto-left">
                            این یک ویدیو است
                            این یک ویدیو است
                            این یک ویدیو است
                        </h5>
                    </a>
                    <div class="row">
                        <a href="#" class="tutor-link uk-margin-auto-left">
                            نام و نام خانوادگی
                        </a>
                        <span class="row">
                            <span>1600</span>
                            <span uk-icon="icon: play"></span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Video -->
        <div class="video column" dir="rtl">
            <div class="vid column">
                <img class="thumbnail" src="https://picsum.photos/400/300" alt="" />
                <a class="uk-icon" uk-icon="icon: play; ratio:4"></a>
            </div>
            <div class="uk-margin-small-top row">
                <div class="tutor uk-margin-remove-top row">
                    <a href="#">
                        <img class="profile-img" src="https://picsum.photos/64" />
                    </a>
                </div>
                <div class="title column uk-margin-auto-left uk-margin-small-right uk-margin-remove-top">
                    <a href="#">
                        <h5 class="uk-margin-auto-left">
                            این یک ویدیو است
                            این یک ویدیو است
                            این یک ویدیو است
                        </h5>
                    </a>
                    <div class="row">
                        <a href="#" class="tutor-link uk-margin-auto-left">
                            نام و نام خانوادگی
                        </a>
                        <span class="row">
                            <span>1600</span>
                            <span uk-icon="icon: play"></span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Video -->
        <div class="video column" dir="rtl">
            <div class="vid column">
                <img class="thumbnail" src="https://picsum.photos/400/300" alt="" />
                <a class="uk-icon" uk-icon="icon: play; ratio:4"></a>
            </div>
            <div class="uk-margin-small-top row">
                <div class="tutor uk-margin-remove-top row">
                    <a href="#">
                        <img class="profile-img" src="https://picsum.photos/64" />
                    </a>
                </div>
                <div class="title column uk-margin-auto-left uk-margin-small-right uk-margin-remove-top">
                    <a href="#">
                        <h5 class="uk-margin-auto-left">
                            این یک ویدیو است
                            این یک ویدیو است
                            این یک ویدیو است
                        </h5>
                    </a>
                    <div class="row">
                        <a href="#" class="tutor-link uk-margin-auto-left">
                            نام و نام خانوادگی
                        </a>
                        <span class="row">
                            <span>1600</span>
                            <span uk-icon="icon: play"></span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Video -->
        <div class="video column" dir="rtl">
            <div class="vid column">
                <img class="thumbnail" src="https://picsum.photos/400/300" alt="" />
                <a class="uk-icon" uk-icon="icon: play; ratio:4"></a>
            </div>
            <div class="uk-margin-small-top row">
                <div class="tutor uk-margin-remove-top row">
                    <a href="#">
                        <img class="profile-img" src="https://picsum.photos/64" />
                    </a>
                </div>
                <div class="title column uk-margin-auto-left uk-margin-small-right uk-margin-remove-top">
                    <a href="#">
                        <h5 class="uk-margin-auto-left">
                            این یک ویدیو است
                            این یک ویدیو است
                            این یک ویدیو است
                        </h5>
                    </a>
                    <div class="row">
                        <a href="#" class="tutor-link uk-margin-auto-left">
                            نام و نام خانوادگی
                        </a>
                        <span class="row">
                            <span>1600</span>
                            <span uk-icon="icon: play"></span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->

    </content>
</section>

<section class="videos column">
    <h4 class="clipped uk-margin-medium-top">پیشنهادی</h4>
    <content class="grid uk-margin-medium-bottom" dir="rtl">
        <!-- #region Video -->
        <div class="video column" dir="rtl">
            <div class="vid column">
                <img class="thumbnail" src="https://picsum.photos/400/300" alt="" />
                <a class="uk-icon" uk-icon="icon: play; ratio:4"></a>
            </div>
            <div class="uk-margin-small-top row">
                <div class="tutor uk-margin-remove-top row">
                    <a href="#">
                        <img class="profile-img" src="https://picsum.photos/64" />
                    </a>
                </div>
                <div class="title column uk-margin-auto-left uk-margin-small-right uk-margin-remove-top">
                    <a href="#">
                        <h5 class="uk-margin-auto-left">
                            این یک ویدیو است
                            این یک ویدیو است
                            این یک ویدیو است
                        </h5>
                    </a>
                    <div class="row">
                        <a href="#" class="tutor-link uk-margin-auto-left">
                            نام و نام خانوادگی
                        </a>
                        <span class="row">
                            <span>1600</span>
                            <span uk-icon="icon: play"></span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Video -->
        <div class="video column" dir="rtl">
            <div class="vid column">
                <img class="thumbnail" src="https://picsum.photos/400/300" alt="" />
                <a class="uk-icon" uk-icon="icon: play; ratio:4"></a>
            </div>
            <div class="uk-margin-small-top row">
                <div class="tutor uk-margin-remove-top row">
                    <a href="#">
                        <img class="profile-img" src="https://picsum.photos/64" />
                    </a>
                </div>
                <div class="title column uk-margin-auto-left uk-margin-small-right uk-margin-remove-top">
                    <a href="#">
                        <h5 class="uk-margin-auto-left">
                            این یک ویدیو است
                            این یک ویدیو است
                            این یک ویدیو است
                        </h5>
                    </a>
                    <div class="row">
                        <a href="#" class="tutor-link uk-margin-auto-left">
                            نام و نام خانوادگی
                        </a>
                        <span class="row">
                            <span>1600</span>
                            <span uk-icon="icon: play"></span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Video -->
        <div class="video column" dir="rtl">
            <div class="vid column">
                <img class="thumbnail" src="https://picsum.photos/400/300" alt="" />
                <a class="uk-icon" uk-icon="icon: play; ratio:4"></a>
            </div>
            <div class="uk-margin-small-top row">
                <div class="tutor uk-margin-remove-top row">
                    <a href="#">
                        <img class="profile-img" src="https://picsum.photos/64" />
                    </a>
                </div>
                <div class="title column uk-margin-auto-left uk-margin-small-right uk-margin-remove-top">
                    <a href="#">
                        <h5 class="uk-margin-auto-left">
                            این یک ویدیو است
                            این یک ویدیو است
                            این یک ویدیو است
                        </h5>
                    </a>
                    <div class="row">
                        <a href="#" class="tutor-link uk-margin-auto-left">
                            نام و نام خانوادگی
                        </a>
                        <span class="row">
                            <span>1600</span>
                            <span uk-icon="icon: play"></span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Video -->
        <div class="video column" dir="rtl">
            <div class="vid column">
                <img class="thumbnail" src="https://picsum.photos/400/300" alt="" />
                <a class="uk-icon" uk-icon="icon: play; ratio:4"></a>
            </div>
            <div class="uk-margin-small-top row">
                <div class="tutor uk-margin-remove-top row">
                    <a href="#">
                        <img class="profile-img" src="https://picsum.photos/64" />
                    </a>
                </div>
                <div class="title column uk-margin-auto-left uk-margin-small-right uk-margin-remove-top">
                    <a href="#">
                        <h5 class="uk-margin-auto-left">
                            این یک ویدیو است
                            این یک ویدیو است
                            این یک ویدیو است
                        </h5>
                    </a>
                    <div class="row">
                        <a href="#" class="tutor-link uk-margin-auto-left">
                            نام و نام خانوادگی
                        </a>
                        <span class="row">
                            <span>1600</span>
                            <span uk-icon="icon: play"></span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Video -->
        <div class="video column" dir="rtl">
            <div class="vid column">
                <img class="thumbnail" src="https://picsum.photos/400/300" alt="" />
                <a class="uk-icon" uk-icon="icon: play; ratio:4"></a>
            </div>
            <div class="uk-margin-small-top row">
                <div class="tutor uk-margin-remove-top row">
                    <a href="#">
                        <img class="profile-img" src="https://picsum.photos/64" />
                    </a>
                </div>
                <div class="title column uk-margin-auto-left uk-margin-small-right uk-margin-remove-top">
                    <a href="#">
                        <h5 class="uk-margin-auto-left">
                            این یک ویدیو است
                            این یک ویدیو است
                            این یک ویدیو است
                        </h5>
                    </a>
                    <div class="row">
                        <a href="#" class="tutor-link uk-margin-auto-left">
                            نام و نام خانوادگی
                        </a>
                        <span class="row">
                            <span>1600</span>
                            <span uk-icon="icon: play"></span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Video -->
        <div class="video column" dir="rtl">
            <div class="vid column">
                <img class="thumbnail" src="https://picsum.photos/400/300" alt="" />
                <a class="uk-icon" uk-icon="icon: play; ratio:4"></a>
            </div>
            <div class="uk-margin-small-top row">
                <div class="tutor uk-margin-remove-top row">
                    <a href="#">
                        <img class="profile-img" src="https://picsum.photos/64" />
                    </a>
                </div>
                <div class="title column uk-margin-auto-left uk-margin-small-right uk-margin-remove-top">
                    <a href="#">
                        <h5 class="uk-margin-auto-left">
                            این یک ویدیو است
                            این یک ویدیو است
                            این یک ویدیو است
                        </h5>
                    </a>
                    <div class="row">
                        <a href="#" class="tutor-link uk-margin-auto-left">
                            نام و نام خانوادگی
                        </a>
                        <span class="row">
                            <span>1600</span>
                            <span uk-icon="icon: play"></span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->

    </content>
</section>



