
@{
    ViewBag.Title = "مقاله ها";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- #region Table -->

<table class="uk-table" dir="rtl">
    <thead>
        <tr>
            <th></th>
            <th>تیتر</th>
            <th>توضیحات</th>
            <th>عکس</th>
            <th>محتوا</th>
            <th>تعداد لایک</th>
            <th>کلمات کلیدی</th>
            <th>نظرات</th>
        </tr>
    </thead>
    <tbody>
        <!-- #region Foreach -->
        <tr>
            <td>1</td>
            <td>این یک تیتر است</td>
            <td>توضیحات وبلاگ</td>
            <td uk-lightbox>
                <a href="~/Resources/Png/CalculatorBackground.png">
                    <img src="~/Resources/Png/CalculatorBackground.png" />
                </a>
            </td>
            <td>
                ...
            </td>
            <td>160</td>
            <td>
                <a href="" uk-icon="hashtag"></a>
            </td>
            <td>
                <a href="" uk-icon="comments"></a>
            </td>
        </tr>
        <!-- #endregion -->
        <tr>
            <td>1</td>
            <td>این یک تیتر است</td>
            <td>توضیحات وبلاگ</td>
            <td uk-lightbox>
                <a href="~/Resources/Png/CalculatorBackground.png">
                    <img src="~/Resources/Png/CalculatorBackground.png" />
                </a>
            </td>
            <td>
                ...
            </td>
            <td>160</td>
            <td>
                <a href="" uk-icon="hashtag"></a>
            </td>
            <td>
                <a href="" uk-icon="comments"></a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>این یک تیتر است</td>
            <td>توضیحات وبلاگ</td>
            <td uk-lightbox>
                <a href="~/Resources/Png/CalculatorBackground.png">
                    <img src="~/Resources/Png/CalculatorBackground.png" />
                </a>
            </td>
            <td>
                ...
            </td>
            <td>160</td>
            <td>
                <a href="" uk-icon="hashtag"></a>
            </td>
            <td>
                <a href="" uk-icon="comments"></a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>این یک تیتر است</td>
            <td>توضیحات وبلاگ</td>
            <td uk-lightbox>
                <a href="~/Resources/Png/CalculatorBackground.png">
                    <img src="~/Resources/Png/CalculatorBackground.png" />
                </a>
            </td>
            <td>
                ...
            </td>
            <td>160</td>
            <td>
                <a href="" uk-icon="hashtag"></a>
            </td>
            <td>
                <a href="" uk-icon="comments"></a>
            </td>
        </tr>
    </tbody>
</table>

<!-- #endregion -->
