
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="uk-overflow-hidden">
        <img src="https://picsum.photos/1366/768?grayscale&.jpg" alt="Example image" class="construction uk-animation-reverse uk-transform-origin-top-center" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
    </div>
