
@{
    ViewBag.Title = "OrderTable";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- #region Table -->

<table class="uk-table" dir="rtl">
    <thead>
        <tr>
            <th></th>
            <th>تغییرات مالی</th>
            <th>متن</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>+ 125,000</td>
            <td>خرید {اسلش} ورزشی توسط {مهدی} در تاریخ 20/20/20</td>
        </tr>
    </tbody>
</table>z

<!-- #endregion -->
