
@{
    ViewBag.Title = "UserTable";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- #region Table -->

<table class="uk-table">
    <caption>این ی جدول است</caption>
    <thead>
        <tr>
            <th>این یک هدر است</th>
            <th>این یک هدر است</th>
            <th>این یک هدر است</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>این یک هدر استاین یک هدر است</td>
            <td>این یک هدر استاین یک هدر است</td>
            <td>این یک هدر استاین یک هدر است</td>
        </tr>
        <tr>
            <td>این یک هدر استاین یک هدر است</td>
            <td>این یک هدر استاین یک هدر است</td>
            <td>این یک هدر استاین یک هدر است</td>
        </tr>
        <tr>
            <td>این یک هدر استاین یک هدر است</td>
            <td>این یک هدر استاین یک هدر است</td>
            <td>این یک هدر استاین یک هدر است</td>
        </tr>
    </tbody>
</table>

<!-- #endregion -->
