@import '_colors.scss';
@import '_starRating.scss';
@import '_general.scss';

.uk-navbar-container {
    display: flex;
    position: fixed !important;
    z-index: 100;
    overflow-y: visible;
    width: 100vw;
    height: 80px;
    backdrop-filter: blur(12px);
    background: transparent !important;
    @include trans(.5s);

    .uk-navbar-dropdown {
        background: red !important;
        z-index: 500;
        position: fixed !important;
    }

    a {
        color: $white;
    }
}

#ModalLogin, #ModalRegister {
    backdrop-filter: blur(4px) brightness(80%);

    .uk-modal-dialog {
        background: $CardBackground !important;
        background-image: none !important;
        padding: 0 !important;
        width: 60vw;
        @include shadow-mega();
        @include border-radius(8px,8px,8px,8px);
        margin: 0 auto !important;
    }

    content {
        flex: 1.2;
        padding: 20px;

        .row {
            overflow: visible;
        }
    }

    img {
        height: 83vh;
        background: $primary;
        flex: 1;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
}

@media only screen and (max-width: 1024px) {
    #ModalLogin, #ModalRegister {

        .uk-modal-dialog {
            width: 90vw;
        }

        content {
            flex: 1.2;
        }

        img {
            height: 83vh;
            flex: 1;
        }
    }
}

.uk-search {
    * {
        color: white !important;
    }
}

.uk-drop {
    background: $CardBackground !important;

    a {
        color: white !important;
    }

    hr {
        border-color: #3E3E3E !important;
    }
}

.card {
    @include mat();
    @include border-radius(6px,6px,6px,6px);
    min-height: 50px;
    min-width: 50px;
}

$VideoWidth: 300px;

.video {
    margin: auto;
    width: $VideoWidth;
    height: 256px;
    padding: 0;
    @include trans(.2s);

    span {
        color: $black-light;
    }

    .vid {
        flex: 2.5;
        @include border-radius(6px,6px,6px,6px);
        @include shadow-mild();

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            @include trans(.2s);
        }

        .uk-icon {
            margin-top: -128px;
            margin-left: auto;
            margin-right: auto;
            color: transparent;
            @include trans(.2s);
        }

        .uk-icon:hover {
            @include icon-glow();
        }
    }

    > .row {
        flex: .8;
        overflow: visible !important;

        * {
            margin-top: auto;
            margin-bottom: auto;
        }

        .title {
            flex: auto;
        }

        .tutor-link {
            margin-left: 6px;
            font-size: 12px !important;
            color: $black-light !important;
        }

        .tutor-link:hover {
            color: $black-mid !important;
        }

        .tutor {
            min-width: 38px !important;

            .profile-img {
                @include border-radius(100%,100%,100%,100%);
                height: 38px;
                width: 38px;
            }
        }
    }
}

.vid:hover .thumbnail {
    filter: blur(4px) brightness(64%);
    @include trans(.2s);
}

.vid:hover .uk-icon {
    color: $white;
    @include trans(.2s);
}

.videos {
    background: #171717;
    margin: auto;

    .grid {
        @include grid-gap($VideoWidth, 1em);
        padding: 20px 2vw;
    }
}

@media only screen and (max-device-width : 480px) {
    $VideoWidth: 42vw;

    .video {
        height: 312px;
        width: $VideoWidth;
    }

    .videos {

        .grid {
            @include grid-gap($VideoWidth, 1em);
            padding: 20px 2vw;
        }
    }
}

/*#region Footer */

.pill {
    border: none;
    padding: 4px;
    background: $primary;
    @include shadow-more();
    color: $white !important;
    margin-top: -24px !important;
    position: absolute;
    cursor: pointer;
    @include trans(.3s);
    z-index: 1000;
}

.pill:hover {
    @include trans(.1s);
    background: lighten($primary,12%);
}

footer {
    padding: 0;
    background: $FooterBackround;
    border-top: solid 1px #373737;
    min-height: 50vh;
    width: 100%;
    overflow: visible;

    .row {
        flex: 1;

        .contacts {
            flex: 1;
        }

        .links {
            flex: 1;
        }

        .map {
            flex: 1;
        }
    }
}

.footer-stripe {
    height: 8px;
    background: $primary;
}

/*#endregion */

table {
    border: 1px solid #0D0D0D;

    thead {
        background-color: #1A1A1A !important;
    }

    td, th {
        text-align: right !important;
    }

    caption {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: 500;
    }

    tr:nth-child(even) {
        border-color: #0D0D0D !important;
        background-color: #141414 !important;
    }

    tr:nth-child(odd) {
        border-color: #0D0D0D !important;
        background-color: #1A1A1A !important;
    }
}

.owl-carousel {
    padding: 0;

    .owl-stage-outer {
        padding: 0 20px;
    }

    .owl-nav {
        display: none;
    }

    .owl-dots {
        @include row();
        margin: auto !important;
        height: 42px !important;
        width: 92px;

        .owl-dot {
            @include border-radius(100%,100%,100%,100%);
            height: 20px !important;
            width: 20px !important;
            background: #505355;
            margin: 8px auto 16px auto;
            box-shadow: none !important;
        }

        .active {
            background: #f27a14;
        }
    }
}

button {
    background: darken($primary-light, 5%);
    padding: 10px 26px 11px 26px;
    font-size: 16px;
    color: $white;
    border: 0;
    @include trans(.5s);
    cursor: pointer;
}

.uk-button-default {
    color: $white !important;
    background: transparent !important;
}

.uk-button-default:hover {
    @include subtle-glow(rgba(255, 255, 255, 0.12));
}

.uk-button-primary {
    color: $white !important;
    border: 1px solid $white !important;
}

.uk-button-primary:hover {
    border-color: $primary !important;
    @include trans(.2s);
}

.uk-button {
    @include trans(.2s);
}

.uk-button:hover {
    border-color: $primary;
}

.button-outline {
    width: 170px !important;
    border: $white !important solid 1px;
    border-width: 2px;
    @include trans(.4s);
}

.button-outline:hover {
    border-color: $primary !important;
    @include trans(.2s);
}

button:hover {
    @include subtle-glow(rgba(221, 28, 28, 0.64));
    @include trans(.2s);
}

button:active {
    background: lighten($primary-light, 2%);
    @include trans(0s);
}

hr {
    border-top: dashed #3E3E3E 1px !important;
}

input[type=text], input[type=date], input[type=datetime],
input[type=datetime-local], input[type=email],
input[type=number], input[type=search], input[type=tel],
input[type=password], input[type=month], input[type=week], textarea {
    outline: none;
    padding: 4px 6px;
    border: #464646 1px solid;
    background: #1E1E1E;
    color: $white;
    @include trans(.4s);
    @include border-radius(0,0,0,0);
}

input[type=text]:focus, textarea:focus {
    @include trans(.2s);
    border: $primary-light 1px solid;
}

textarea {
    resize: vertical !important;
    min-height: 28px;
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}
