@import "_colors.scss";
@import "_general.scss";
@import "_layout.scss";

$Form-width: 88vw!default;
$Form-max-width: $clipped-max-width!default;
$Form-padding: 20px!default;

.about {
    margin-top: -100px;
    margin-bottom: 20px;
    width: $Form-width;
    max-width: $Form-max-width;
    padding: 0;

    a {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.commies {
    margin-bottom: 20px;
    width: $Form-width;
    max-width: $Form-max-width;
    overflow: hidden;

    * {
        overflow: hidden;
    }
}

.abouthead {
    width: 100%;
    height: 400px !important;

    h2 {
        font-weight: 500;
        font-size: 50px;
        padding: 10px;
        text-shadow: 1px 1px 3px #000000;
    }
}
