/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
.video-section-background {
  background: #171717; }

/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
.video-section-background {
  background: #171717; }

/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
.video-section-background {
  background: #171717; }

/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
.space {
  width: 100vw;
  height: 4vw; }

.space-double {
  width: 100vw;
  height: 8vw; }

.space-half {
  width: 100vw;
  height: 2vw; }

@media only screen and (max-device-width: 480px) {
  .space-half {
    width: 100vw;
    height: 3vh; }
  .space {
    width: 100vw;
    height: 6vh; }
  .space-double {
    width: 100vw;
    height: 9vh; } }

.space-nav {
  width: 100vw;
  height: 140px; }

.space-nav-bottom {
  width: 100vw;
  height: 80px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .space-nav {
    width: 100vw;
    height: 7vw; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .space-nav {
    width: 100vw;
    height: 14vw; } }

/*#region Alignment */
.column {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.row {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.fillwidth {
  min-width: 100%;
  height: auto; }

.fillheight {
  min-height: 100%;
  width: auto; }

/*#endregion */
.clipped {
  margin-left: auto;
  margin-right: auto;
  width: 92vw;
  max-width: 1600px; }

.full-width {
  width: 100vw; }

.full-height {
  height: 100vh; }

.overflow-visible {
  overflow: visible !important; }

.overflow-hidden {
  overflow: hidden !important; }

.text-center {
  text-align: center !important; }

* {
  margin: 0;
  padding: 0;
  float: none;
  /*font-family: 'A Iranian Sans', 'numbers','Segoe UI';*/
  font-family: 'Segoe UI';
  list-style: none !important;
  text-decoration: none;
  text-align: right;
  outline: none; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  min-height: 100vh;
  background: #141414 !important;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  html ::-webkit-scrollbar {
    width: 14px; }
  html ::-webkit-scrollbar-track {
    background: #333333; }
  html ::-webkit-scrollbar-thumb {
    background: #474747; }
  html ::-webkit-scrollbar-thumb:hover {
    background: #666666; }

body {
  background: #141414;
  overflow-x: hidden !important;
  min-height: 100vh; }

a {
  text-decoration: none !important; }

a:hover {
  text-decoration: none !important; }

h1, h2, h3, h4, h5, h6 {
  color: rgba(250, 250, 250, 0.85) !important; }

p {
  direction: rtl;
  text-align: justify;
  -ms-text-justify: inter-word;
  text-justify: inter-word;
  overflow-x: hidden;
  overflow-y: hidden;
  color: rgba(250, 250, 250, 0.85); }

.center {
  text-align: center;
  align-content: center;
  align-self: center;
  margin: 0 auto; }

.visible {
  visibility: visible; }

.collapsed {
  visibility: collapse;
  height: 0;
  width: 0;
  flex: 0; }

.hidden {
  visibility: hidden; }

.unselectable {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important; }

img {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  pointer-events: none !important; }

.dummy {
  width: 100px;
  height: 100px;
  background: red; }

.mat {
  padding: 20px;
  background: #252525;
  -moz-box-shadow: rgba(0, 0, 0, 0.54) 0 0px 0.6vw;
  -webkit-box-shadow: rgba(0, 0, 0, 0.54) 0 0px 0.6vw;
  box-shadow: rgba(0, 0, 0, 0.54) 0 0px 0.6vw; }

h1, h2, h3, h4, h5, h6 {
  padding-bottom: 1px; }

.white {
  background: #fff; }

.white-mid {
  background: #EBEBEB; }

.white-dark {
  background: #D1D1D1; }

.black {
  background: #404040; }

.black-mid {
  background: #5B5B5B; }

.black-light {
  background: #848484; }

/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
.video-section-background {
  background: #171717; }

/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
.space {
  width: 100vw;
  height: 4vw; }

.space-double {
  width: 100vw;
  height: 8vw; }

.space-half {
  width: 100vw;
  height: 2vw; }

@media only screen and (max-device-width: 480px) {
  .space-half {
    width: 100vw;
    height: 3vh; }
  .space {
    width: 100vw;
    height: 6vh; }
  .space-double {
    width: 100vw;
    height: 9vh; } }

.space-nav {
  width: 100vw;
  height: 140px; }

.space-nav-bottom {
  width: 100vw;
  height: 80px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .space-nav {
    width: 100vw;
    height: 7vw; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .space-nav {
    width: 100vw;
    height: 14vw; } }

/*#region Alignment */
.column {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.row {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center; }

.fillwidth {
  min-width: 100%;
  height: auto; }

.fillheight {
  min-height: 100%;
  width: auto; }

/*#endregion */
.clipped {
  margin-left: auto;
  margin-right: auto;
  width: 92vw;
  max-width: 1600px; }

.full-width {
  width: 100vw; }

.full-height {
  height: 100vh; }

.overflow-visible {
  overflow: visible !important; }

.overflow-hidden {
  overflow: hidden !important; }

.text-center {
  text-align: center !important; }

#educator {
  overflow-y: hidden !important;
  padding: 0 !important; }
  #educator * {
    overflow-y: hidden !important; }

p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical; }

article {
  overflow: hidden !important;
  display: flex;
  padding: 0 !important;
  height: 440px;
  width: 310px !important;
  margin: auto !important; }
  article h3 {
    font-weight: 600; }
  article img {
    flex: 1;
    object-fit: cover;
    margin: 0; }
  article content {
    flex: 1;
    padding: 4px 12px; }
  article a {
    font-weight: 600; }

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1.1em;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  padding: 20px 2vw; }

.myBlogs {
  margin-right: 28px; }

@media only screen and (max-device-width: 1008px) {
  artical {
    width: 220px; }
  .grid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1.8em;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 20px 2vw; } }
