@import "_colors.scss";
@import "_controls.scss";
@import "_general.scss";
@import "_layout.scss";

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url('../Resources/Png/Background.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;

    header.column {
        z-index: 10;
        position: absolute;
        top: 80px;
        width: 32vw;
        margin-left: 90px;
        overflow:visible!important;
        /*margin-left:4vw;*/
        h1 {
            font-size: 14vw;
            text-align: left;
            margin-left: -10px;

            span {
                color: $primary;
            }
        }

        hr {
            border-style: solid !important;
            border-color: white !important;
        }

        * {
            color: $white;
        }

        p {
            text-align: left;
            font-size: 1.5em;
        }
    }

    * {
        overflow-y: hidden;
    }

    > .uk-icon {
        position: absolute;
        margin-top: 90vh;
        color: white;
        z-index: 20;
        @include trans(.4s);
    }

    > .uk-icon:hover {
        @include icon-glow();
    }

    .player {
        position: absolute;
        margin-left: 95vw;
        margin-top: 48vh;
        margin-bottom: 48vh;
    }
}

.man {
    width: 100vw;
    height: 100vh;
    margin-top: -100vh;
    background-image: url('../Resources/Png/Man.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.stripe {
    width: 100vw;
    background: $primary-light;
    padding: 24px;
    align-items: center;
    justify-content: center;
    align-content: center;

    h4 {
        color: $white;
        margin: auto;
    }
}

.videos {
    background: #171717;
    margin: auto;

    .grid {
        @include grid-gap(380px, 1.2em);
        padding: 20px 2vw;
    }
}

.categories {
    overflow-y: hidden;

    * {
        overflow-y: hidden;
    }

    .owl-stage-outer {
        padding: 0 !important;
    }

    .category {
        margin: auto;
        padding: 0;
        width: 220px;
        height: 220px;

        li {
            cursor: pointer;
        }

        img {
            -o-object-fit: cover;
            object-fit: cover;
            width: 220px;
            height: 220px;
        }
    }
}

.category-article {
    width: 96vw;
    margin: auto;
    padding: 0;

    img {
        flex: 1;
        -o-object-fit: cover;
        object-fit: cover;
    }

    article {
        padding: 20px;
        flex: 1.5;

        li {
            margin-top: 8px;
        }
    }
}

@media only screen and (max-width: 724px) {
    .category-article {
        width: 90vw;

        img {
            flex: 0;
            display: none;
        }
    }
}

@media only screen and (max-device-width: 512px) {
    .category-article {
        width: 90vw;

        img {
            flex: 0;
            display: none;
        }
    }
}

article {
    a {
        color: $link !important;
    }

    a:hover {
        color: blue;
    }
}

.banner {
    background: #1F1F1F;

    img {
        margin: auto;
        flex: 1;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;
        height: 20vw;
    }

    content {
        flex: 2.5;
    }
}

@media only screen and (max-width: 724px) {
    .banner {
        img {
            display: none;
            flex: 0;
        }
    }
}

@media only screen and (max-device-width: 512px) {
    .banner {
        img {
            display: none;
            flex: 0;
        }
    }
}

.tutors {
    margin-right: 24px !important;
    height: 200px;
    background: #161616;
    overflow-y: hidden;

    * {
        overflow-y: hidden;
    }

    a {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 6px;
        padding: 0;
        width: 85%;
        height: 120px;

        img {
            margin: auto 16px !important;
            width: 72px !important;
            height: 72px;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            border-radius: 100%;
        }

        content {
            flex: 2;
            padding: 12px 20px;

            h4 {
                margin: 0;
            }

            h5 {
                margin: 0;
            }
        }
    }
}

.market {
    margin-right: 24px !important;
    overflow-y: hidden;

    * {
        overflow-y: hidden;
        color: white;
    }

    li {
        height: 480px;
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 0;
        width: 90%;

        img {
            flex: 1.7;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }

        content {
            flex: 1;
            padding: 16px 16px 0px 16px;

            button {
                margin: 16px;
            }

            .discount {
                text-decoration: line-through;
                margin-right: auto;
                margin-left: auto;
                font-size: 18px;
            }

            .price {
                font-size: 26px;
            }
        }
    }
}

.calculator {
    height: 40vw;
    background-image: url('../Resources/Png/CalculatorBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    /*img {
        -o-object-position: bottom;
        object-position: bottom;
        -o-object-fit: cover;
        object-fit: cover;
    }*/
    .card {
        margin-top: auto;
        margin-bottom: auto;
        width: 22vw;
        min-height: 26vw;
        @include shadow-mega();

        hr {
            margin: 10px 0;
        }

        label {
            margin-bottom: 6px;
        }

        input {
            margin-bottom: 12px;
        }

        .row {
            overflow: visible !important;
        }
    }
}

@media only screen and (max-width: 1100px) {

    .calculator {
        height: 62vw;

        .card {
            width: 40vw;
        }
    }
}

@media only screen and (max-width: 700px) {

    .calculator {
        height: 80vw;

        .card {
            width: 40vw;
        }
    }
}

.image-banner {
    height: 360px;

    .column {
        position: absolute;
        z-index: 100;
        margin: auto;
        width: 100vw;
        margin-top: 100px;

        * {
            text-align: center;
            vertical-align: central;
        }

        h4 {
            margin: auto;
            width: 70%;
        }
    }

    .cover {
        height: 360px;
        width: 100vw;
        position: absolute;
        @include trans(.2s);
        z-index: 50;
    }

    img {
        height: 360px;
        width: 100vw;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
}

.image-banner:hover .cover {
    background: rgba(0, 0, 0, 0.32);
}


.owl-carousel {
    padding: 0;

    .owl-stage-outer {
        padding: 0 20px;
    }

    .owl-nav {
        display: none;
    }

    .owl-dots {
        @include row();
        margin:auto!important;
        width:92px;

        .owl-dot {
            @include border-radius(100%,100%,100%,100%);
            height: 20px !important;
            width: 20px !important;
            background: #505355;
            margin:0 auto;
            box-shadow: none !important;
        }

        .active {
            background: #7d7d7d;
        }
    }
}

.blog {

    a {
        width: 320px;
    }

    content {
    }
}
