@import "_colors.scss";
@import "_general.scss";
@import "_layout.scss";

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url('../Resources/Png/Background.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;

    header.column {
        z-index: 10;
        position: absolute;
        top: 80px;
        width: 32vw;
        margin-left: 90px;
        /*margin-left:4vw;*/
        h1 {
            font-size: 14vw;
            text-align: left;
            margin-left: -10px;

            span {
                color: $primary;
            }
        }

        br {
            display: none;
        }

        hr {
            border-style: solid !important;
            border-color: white !important;
        }

        * {
            color: $white;
        }

        p {
            text-align: left;
            font-size: 1.5em;
        }
    }

    * {
        overflow-y: hidden;
    }

    > .uk-icon {
        position: absolute;
        margin-top: 90vh;
        color: white;
        z-index: 20;
        @include trans(.4s);
    }

    > .uk-icon:hover, .player:hover {
        color: white;
        @include icon-glow();
    }

    .player-container {
        position: absolute;
        overflow: visible;
        width: auto;
        right: 10px;
        top: 0;
        bottom: 0;
        z-index: 100;

        .player {
            @include trans(.4s);
            color: white;
            min-height: 20px;
            min-width: 20px;
            margin: auto;
        }
    }
}

.man {
    width: 100vw;
    height: 100vh;
    margin-top: -100vh;
    background-image: url('../Resources/Png/Man.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

@media screen and (min-width: 0px) and (max-width: 640px) and (orientation: landscape) {

    .hero {

        #header {
            z-index: 10;
            position: absolute;
            top: 70px;
            width: 14vw;
            margin-left: 90px;

            h1 {
                font-size: 14vw !important;
                text-align: left;
                margin-left: -10px;
            }

            p {
                text-align: left;
                font-size: 1.2em !important;
            }
        }
    }

    .rowIcon {
        display: none !important;
    }
}

$bgPosition-X: 50%;
$bgPosition-Y: 60px;

.rowIcon {
    @include row();
    z-index: 1000;
    position: relative;
    margin-right: auto;
    margin-left: 60px;
    padding: 10px;

    a {
        cursor: pointer;
    }

    a:hover {
        @include icon-glow();
    }

    img {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.show-on-mobile {
    display: none;
}

@media only screen and (max-device-width :550px) {
    .hero {
        background-position-x: $bgPosition-X !important;
        background-position-y: $bgPosition-Y !important;

        header.column {
            top: 80px;
            width: 52vw !important;
            margin-left: 24px !important;

            h1 {
                font-size: 22vw !important;
                margin-left: -6px !important;

                span {
                    color: $primary;
                }
            }

            br {
                display: block;
            }

            hr {
                margin-right: 8vw !important;
            }

            * {
                color: $white;
            }

            p {
                text-align: left;
                font-size: 7.5vw;
            }
        }
    }

    .button-outline {
        padding: 0 0px !important;
        width: 80% !important;
    }

    .man {
        background-position-x: $bgPosition-X !important;
        background-position-y: $bgPosition-Y !important;
    }

    .hide-on-mobile {
        display: none;
        visibility: collapse;
    }

    .show-on-mobile {
        display: block;
    }

    .rowIcon {
        @include column();
        margin-left: 0px;

        a {
            margin-bottom: 16px;
        }
    }

    .player {
        margin-left: 85vw !important;
        width: 10vw;
    }
}

@media only screen and (max-width :700px) {
    .hero {
        background-position-x: 20%;
        background-position-y: 60px;

        header.column {
            top: 80px;
            width: 52vw !important;
            margin-left: 24px !important;

            h1 {
                font-size: 22vw !important;
                margin-left: -6px !important;

                span {
                    color: $primary;
                }
            }

            br {
                display: block;
            }

            hr {
                margin-right: 8vw !important;
            }

            * {
                color: $white;
            }

            p {
                text-align: left;
                font-size: 7.5vw;
            }
        }
    }

    .button-outline {
        padding: 0 0px !important;
        width: 80% !important;
    }

    .man {
        background-position-x: 20%;
        background-position-y: 60px;
    }

    .hide-on-mobile {
        display: none;
        visibility: collapse;
    }

    .show-on-mobile {
        display: block;
    }

    .rowIcon {
        @include column();
        margin-left: 0px;

        a {
            margin-bottom: 16px;
        }
    }
}

#darnVideo {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 100vw;
    opacity: 0;
    background: black;

    #video {
        visibility: collapse;
        height: 100vh;
        width: 100vw;
    }
}

.stripe {
    width: 100vw;
    background: $primary-light;
    padding: 24px 0;
    align-items: center;
    justify-content: center;
    align-content: center;

    a {
        margin: auto !important;
        text-decoration: none !important;

        img {
            max-height: 36px;
            max-width: 42px;
        }
    }
}

#categories {
    $Category-Size: 200px;

    .category {
        margin: auto;
        padding: 0;
        width: $Category-Size;
        height: $Category-Size;
        @include column();
        @include border-radius(8px,8px,8px,8px);
        overflow: hidden !important;
        cursor: pointer;

        img {
            margin: auto !important;
            -o-object-fit: cover;
            object-fit: cover;
            width: $Category-Size;
            height: $Category-Size;
            @include trans(.2s);
        }
    }

    .category:hover img {
        filter: brightness(64%);
    }
}

.category-article {
    overflow: hidden !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;

    img {
        height: auto;
        flex: 1;
        -o-object-fit: cover;
        object-fit: cover;
    }

    article {
        width: 50vw !important;
        padding: 20px;
        padding-right: 32px;
        flex: 2;

        li {
            margin-top: 8px;
        }
    }
}

@media only screen and (max-width: 764px) {
    .category-article {
        width: 100vw;
        @include border-radius(0,0,0,0);

        img {
            flex: 0;
            display: none;
        }
    }
}

@media only screen and (max-device-width: 512px) {
    .categories {
        $Category-Size: 140px;
        grid-gap: 10px !important;
        grid-template-columns: repeat(auto-fill, minmax($Category-Size, 1fr));
        width: 92vw !important;

        .category {
            width: $Category-Size !important;
            height: $Category-Size !important;

            img {
                margin: auto !important;
                -o-object-fit: cover;
                object-fit: cover;
                width: $Category-Size;
                height: $Category-Size;
            }
        }

        .category-article {
            width: 90vw;

            img {
                flex: 0;
                display: none;
            }
        }
    }

    .category-article {
        width: 100vw;
        @include border-radius(0,0,0,0);

        img {
            flex: 0;
            display: none;
        }
    }
}

article {
    a {
        color: $link !important;
    }

    a:hover {
        color: blue;
    }
}

.banner {
    background: #1F1F1F;

    img {
        width: 280px;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;
    }
}

@media only screen and (max-width: 724px) {
    .banner {
        img {
            display: none;
            flex: 0;
        }
    }
}

@media only screen and (max-device-width: 512px) {
    .banner {
        img {
            display: none;
            flex: 0;
        }
    }
}

#tutors {
    margin: 0 !important;
    overflow-y: hidden;

    * {
        overflow-y: hidden;
    }

    a {
        margin: 24px auto !important;
        padding: 0;
        width: 85%;
        height: 120px;

        img {
            margin: auto 16px !important;
            width: 72px !important;
            height: 72px;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            border-radius: 100%;
        }

        content {
            flex: 2;
            padding: 12px 20px;

            h4 {
                margin: 0;
            }

            h5 {
                margin: 0;
            }
        }
    }
}

.market {
    margin-right: 24px !important;
    overflow-y: hidden;

    * {
        overflow-y: hidden;
        color: white;
    }

    > div {
        height: 480px;
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 0;
        width: 90%;

        img {
            flex: 1.7;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }

        content {
            flex: 1;
            padding: 16px 16px 0px 16px;

            button {
                margin: 16px;
            }

            .discount {
                text-decoration: line-through;
                margin-right: auto;
                margin-left: auto;
                font-size: 18px;
            }

            .price {
                font-size: 26px;
            }
        }
    }
}

.calculator {
    width: 100vw;
    position: relative;
    display: flex;
    padding: 32px 0;
    overflow: hidden;
    -moz-box-shadow: 0 0 16px rgba(0,0,0,.7) inset;
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,.7) inset;
    box-shadow: 0 0 16px rgba(0,0,0,.7) inset;

    &-image {
        -o-object-position: bottom;
        object-position: bottom;
        -o-object-fit: cover;
        object-fit: cover;
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: red;
        width: 100vw;
        height: 100%;
        min-height: 10px;
        filter: blur(5px);
    }

    &-card {
        z-index: 3;
        margin: auto;
        display: flex;
        width: 280px !important;
        @include shadow-mega();


        hr {
            margin: 10px 0;
        }

        label {
            margin-bottom: 6px;
        }

        input {
            margin-bottom: 12px;
        }

        .row {
            overflow: visible !important;
            margin-bottom: 24px;
        }
    }
}

@media only screen and (max-device-width: 500px) {
    .calculator {
        .card {
            width: 256px;
        }
    }
}

.image-banner {
    $banner-height: 360px;
    height: $banner-height;

    h2, h4 {
        text-shadow: 2px 2px 4px rgba(0,0,0,.64);
    }

    .column {
        margin: auto !important;
        position: absolute;
        z-index: 100;
        height: $banner-height - 20px;
        width: 100vw;

        * {
            text-align: center;
            vertical-align: central;
        }

        h2 {
            margin-top: auto;
        }

        h4 {
            margin: 0 auto;
            margin-bottom: auto;
            width: 70%;
        }
    }

    .cover {
        height: $banner-height;
        width: 100vw;
        position: absolute;
        @include trans(.2s);
        z-index: 50;
    }

    img {
        height: $banner-height;
        width: 100vw;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;
    }
}

.image-banner:hover .cover {
    background: rgba(0, 0, 0, 0.32);
}

.uk-sticky {
    display: block;
    overflow: visible;
    height: 0px !important;
    right: 0px;
}

$Stickies-Width: 100px;

#stickies {
    margin-left: auto !important;
    margin-right: -20px;
    width: $Stickies-Width !important;
    @include trans(.2s);
    opacity: 0;

    a:hover {
        pointer-events: auto !important;
        background: #3d3d3d;

        img {
            height: 28px;
            width: 28px;
        }
    }
}

.opacity-full {
    opacity: 1 !important;
}

.animated-bubble {
    width: $Stickies-Width - 28px !important;
    margin: 0 auto !important;
}

.stickIcon {
    padding: 8px;
    border-radius: 50%;
    background: #2f2f2f;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    @include column();
    @include trans(.2s);

    img {
        height: 28px;
        width: 28px;
        margin: auto;
    }
}

@media (max-height:600px) and (min-height:0px) {
    #stickies {
        display:none;
    }
}

//-> To Controls

@media only screen and (max-device-width: 512px) {
    .image-banner {
        .column {
            margin: auto;
            width: 100vw;

            h2 {
                font-size: 26px !important;
            }

            h4 {
                width: 92%;
                font-size: 18px !important;
            }
        }
    }
}

$blog-Object-Fit: cover;
$blog-Height: auto;
$blog-Width: 342px;
$blog-Image-Height: 256px;

.blog {
    height: $blog-Height;
    width: $blog-Width;
    margin: 16px auto;
    overflow: hidden !important;


    img {
        flex: 1 !important;
        min-height: $blog-Image-Height;
        max-height: $blog-Image-Height;
        height: $blog-Image-Height;
        -o-object-fit: $blog-Object-Fit;
        object-fit: $blog-Object-Fit;
    }

    content {
        flex: 1 !important;
        @include column();
        margin-top: 4px;
        padding-bottom: 16px !important;

        h4 {
            direction: rtl;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;
        }

        p {
            color: #e5e5e5 !important;
        }

        a {
            margin-bottom: 0;
            margin-top: auto !important;
            padding-bottom: 4px;
        }
    }
}

$product-Height: auto;
$product-Width: 342px;
$product-Image-Height: 280px;
$product-Image-Fit: cover;

.product-block {
    margin: 16px auto;
    width: $product-Width;
    height: $product-Height;
    overflow: hidden;

    img {
        -o-object-fit: $product-Image-Fit;
        object-fit: $product-Image-Fit;
        max-height: $blog-Image-Height;
        max-width: 100%;
    }

    .uk-padding {
        padding: 18px !important;
    }

    button {
        height: 42px;
    }

    .discount {
        text-decoration: line-through;
        margin: auto;
    }

    .price {
        margin: auto;
        color: $white;
        font-size: 1.5em;
    }
}

@media only screen and (max-device-width : 480px) {
    .blog {
        width: $blog-Width * .9;

        image {
            height: $blog-Image-Height * .9;
        }
    }

    .product-block {
        width: $product-Width * .9;

        image {
            height: $product-Image-Height * .9;
        }
    }
}

#MobileNavigation {
    direction: rtl !important;

    * {
        direction: rtl !important;
    }

    .uk-offcanvas-bar {
        direction: rtl !important;
    }
}
