@import "_colors.scss";
@import "_general.scss";
@import "_layout.scss";

.main {
    @include row();
    width: 96vw;
    margin: 0 auto;

    > aside {
        padding-right: 28px;
        margin-bottom: auto;

        .video {
            margin-bottom: 20px;
        }
    }

    > content {
        flex: 1;

        .video-playback {
            background: $CommentBackground;
            width: 100%;
            height: auto;
        }

        .profile-media-container {
            @include row();

            .media {
                background: $CommentBackground;

                .view-count {
                }

                a {
                    margin-left: 8px;
                }
            }
        }

        .uk-comment {
            padding: 16px;
            background: $CommentBackground;
            margin-bottom: 20px;
        }

        .tutor {
            * {
                margin: 0;
            }

            h6 {
                color: $white !important;
            }

            p {
                color: $white-dark !important;
                margin-top: 6px;
                font-size: 13px;
            }

            img {
                @include border-radius(100%,100%,100%,100%);
                height: 52px;
                width: 52px;
            }
        }
    }
}

@media only screen and (max-device-width : 864px) {
    .main {
        width: 90vw;
        -ms-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;

        > aside {
            padding: 0;
        }

        > content {
            > .video-title {
                margin-top: 12px;
                font-size: 18px;
            }

            > .profile-media-container {
                -ms-flex-direction: column-reverse;
                -webkit-flex-direction: column-reverse;
                flex-direction: column-reverse;

                > .media {
                    margin-top: 18px;

                    .star-container {
                        margin-left: auto !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 864px) {
    .main {
        width: 90vw;
        -ms-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;

        > aside {
            padding: 0;
        }
    }
}

.textbox-bulk-txt {
    background: #1E1E1E;
    width: auto !important;
    flex: auto;
}


.uk-comment {
    .uk-comment-body {
        p {
        }
    }
}

.comments, .make-comment {
    overflow: hidden !important;
    @include trans(.2s);
}

.rotate-180 {
    transform: rotate(-180deg);
}
